{% extends "layout.njk" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ getPath("css/page.css") }}">
<link rel="stylesheet" type="text/css" href="{{ getPath("css/post.css") }}">
{% endblock %}

{% block title %}{{ __(title) }} | {{ siteConfig.title }}{% if siteConfig.subtitle %} - {{ siteConfig.subtitle }}{% endif %}{% endblock %}

{% block content %}
<div id="archives" class="archives page">
  <h1 class="page-title">{{ __(title) }}</h1>
  <h2 class="page-counter">
    {% if site.posts.length > 1 %}
    {{ __("postCount.more", site.posts.length) }}
    {% elif posts.length === 1 %}
    {{ __("postCount.one", site.posts.length) }}
    {% else %}
    {{ __("postCount.none") }}
    {% endif %}
  </h2>
  {% set year = "1970" %}
  {% for post in posts %}
  {% if post["createdMoment"].tz(themeConfig["zone"] or post["zone"]).format("YYYY") !== year %}
  {% set year = post["createdMoment"].tz(themeConfig["zone"] or post["zone"]).format("YYYY") %}
  <h2 class="page-title">{{ year }}</h1>
  {% endif %}
  <article class="article post card{% if themeConfig.animate %} animate{% endif %}" itemscope itemtype="http://schema.org/Article">
    <header id="post-header" class="post-header">
      <h1 class="post-title-simple" itemprop="name headline">
        <a class="post-title-link post-title-link-external" href="{{ getPath(post.docPath) }}" itemprop="url">{{ post.title }}</a>
      </h1>
      {% if post["createdTime"] %}
      <span class="post-date">
        <time title="post-date" itemprop="dateCreated datePublished" datetime="{{ post["createdTime"].toISOString() }}">{{ post["createdMoment"].tz(themeConfig["zone"] or post["zone"]).format("MM-DD") }}</time>
      </span>
      {% endif %}
    </header>
  </article>
  {% endfor %}
  {% if pageArray %}
  <nav class="pagination">
    {% if pageIndex !== 0 %}
    <a class="extend prev" href="{{ getPath(pageArray[pageIndex - 1].docPath) }}" aria-label="{{ __("accessibility.prevPage") }}"><i class="fas fa-angle-left"></i></a>
    {% endif %}
    {% if pageIndex > 2 %}
    <a class="page-number" href="{{ getPath(pageArray[0].docPath) }}">1</a>
    <span class="space">…</span>
    <a class="page-number" href="{{ getPath(pageArray[pageIndex - 1].docPath) }}">{{ pageIndex }}</a>
    {% else %}
    {% for page in pageArray.slice(0, pageIndex) %}
    <a class="page-number" href="{{ getPath(page.docPath) }}">{{ page.pageIndex + 1 }}</a>
    {% endfor %}
    {% endif %}
    <a class="page-number current" href="{{ getPath(docPath) }}">{{ pageIndex + 1 }}</a>
    {% if pageIndex < pageArray.length - 1 - 2 %}
    <a class="page-number" href="{{ getPath(pageArray[pageIndex + 1].docPath) }}">{{ pageIndex + 2 }}</a>
    <span class="space">…</span>
    <a class="page-number" href="{{ getPath(pageArray[pageArray.length - 1].docPath) }}">{{ pageArray.length }}</a>
    {% else %}
    {% for page in pageArray.slice(pageIndex + 1, pageArray.length) %}
    <a class="page-number" href="{{ getPath(page.docPath) }}">{{ page.pageIndex + 1 }}</a>
    {% endfor %}
    {% endif %}
    {% if pageIndex !== pageArray.length - 1 %}
    <a class="extend next" href="{{ getPath(pageArray[pageIndex + 1].docPath) }}" aria-label="{{ __("accessibility.nextPage") }}"><i class="fas fa-angle-right"></i></a>
    {% endif %}
  </nav>
  {% endif %}
  {% if themeConfig.reward.enable %}
  {% include "reward.njk" %}
  {% endif %}
  {% if themeConfig.comment.enable %}
  {% include "comment.njk" %}
  {% endif %}
</div>
{% endblock %}
