{% block footer %}
<footer id="footer" class="footer"{% if themeConfig.color %} style="background: {{ themeConfig.color }};"{% endif %}>
  <div class="container">
    <div class="back-to-top">
      <button id="back-to-top" aria-label="{{ __("accessibility.backToTop") }}"><i class="fas fa-angle-double-up"></i></button>
    </div>
    <div class="footer-container">
      <div class="footer-left">
        <div class="copyright">
          <span class="author"><i class="far fa-edit"></i>{{ siteConfig.author }}</span><span class="years"><i class="far fa-copyright"></i><span id="years-text">{% if themeConfig.since %}{{ themeConfig.since }}{% endif %}</span></span>{% if themeConfig.creativeCommons %}<span class="creative-commons"><i class="fab fa-creative-commons"></i><a href="http://creativecommons.org/licenses/{{ themeConfig.creativeCommons }}/4.0/" target="_blank">{{ themeConfig.creativeCommons.toUpperCase() }} 4.0</a></span>{% endif %}
        </div>
        {% if themeConfig.busuanzi %}
        <div class="busuanzi">
          <span id="busuanzi_container_site_pv"><i class="fas fa-eye" aria-label="{{ __("accessibility.sitePV") }}" aria-hidden="false"></i><span id="busuanzi_value_site_pv"></span></span><span id="busuanzi_container_site_uv"><i class="fas fa-user" aria-label="{{ __("accessibility.siteUV") }}" aria-hidden="false"></i><span id="busuanzi_value_site_uv"></span></span><span id="busuanzi_container_page_pv"><i class="fas fa-file-alt"></i><span id="busuanzi_value_page_pv" aria-label="{{ __("accessibility.pagePV") }}" aria-hidden="false"></span></span>
        </div>
        {% endif %}
      </div>
      <div class="footer-right">
        <div class="custom-info">
          {% if themeConfig.customInfo %}
          {{ themeConfig.customInfo }}
          {% endif %}
        </div>
        <div class="powered-by">
          {{ __("poweredBy", "<a href=\"https://github.com/AlynxZhou/hikaru/\" target=\"_blank\">Hikaru</a>") }}<i class="fab fa-node-js"></i>{{ __("theme", "<a href=\"https://github.com/AlynxZhou/hikaru-theme-aria/\" target=\"_blank\">ARIA</a>") }}
        </div>
      </div>
    </div>
  </div>
</footer>
{% endblock %}
