{% block reward %}
<div class="reward" id="reward">
  <p>{{ themeConfig.reward.comment }}</p>
  <button id="reward-button" class="button" disable="enable"><i class="fas fa-donate"></i>{{ __("reward.button") }}</button>
  <div id="qr" class="qr" style="display: none;" aria-hidden="true">
    {% if themeConfig.reward.weChatPayQrCode %}
    <div id="wechat">
      <img id="wechat_qr" src="{{ getPath(themeConfig.reward.weChatPayQrCode) }}" alt="{{ __("reward.wechatpay") }}"/>
      <span>{{ __("reward.wechatpay") }}</span>
    </div>
    {% endif %}
    {% if themeConfig.reward.aliPayQrCode %}
    <div id="alipay">
      <img id="alipay_qr" src="{{ getPath(themeConfig.reward.aliPayQrCode) }}" alt="{{ __("reward.alipay") }}"/>
      <span>{{ __("reward.alipay") }}</span>
    </div>
    {% endif %}
    {% if themeConfig.reward.bitCoinQrCode %}
    <div id="bitcoin">
      <img id="bitcoin_qr" src="{{ getPath(themeConfig.reward.bitCoinQrCode) }}" alt="{{ __("reward.bitcoin") }}"/>
      <span>{{ __("reward.bitcoin") }}</span>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
