@import "variables";

div.comment {
  flex: 0 0 auto;
  if (getThemeConfig("comment.issue.enable")) {
    div.comment-results {
      padding: 1rem;
      div.sk-wave {
        div.sk-rect {
          background: $color-comment-sk-wave-background;
        }
      }
      div.comment-fail {
        transition: 0.3s ease-in-out;
        text-align: center;
        color: $color-comment-font;
      }
      header.comments-header {
        transition: 0.3s ease-in-out;
        padding: 0.5em;
        text-align: center;
        color: $color-comment-font;
      }
      main.comments-main {
        div.comment {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: stretch;
          align-items: start;
          margin: 0.5rem 0;
          div.comment-avatar-container {
            flex: 1 1 auto;
            width: 10%;
            img.comment-avatar {
              width: 70%;
              border: 0.1rem solid white;
              border-radius: 50%;
              transition: box-shadow 0.3s ease-in-out, transform 1s ease-in-out;
              &:hover {
                box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.19);
                transform: rotateY(720deg);
              }
            }
          }
          div.comment-body-container {
            flex: 9 9 auto;
            width: 90%;
            overflow: hidden;
            border-radius: $corner-radius;
            div.comment-info {
              padding: 0.5em;
              color: $color-comment-info-font;
              background: $color-comment-info-background;
              overflow: auto;
              a {
                position: relative;
                color: $color-comment-info-link-font;
                text-decoration: none;
                border-bottom: 0.05em dotted $color-comment-info-link-font;
                transition: 0.3s ease-in-out;
                &:hover {
                  color: $color-comment-info-link-hover-font;
                  border-bottom: 0.05em solid $color-comment-info-link-hover-font;
                }
                &:active {
                  top: 0.1em;
                }
              }
              a.comment-info-author {
                margin: 0 0.5em;
              }
              span.comment-info-date {
                margin: 0 0.5em;
              }
              span.comment-info-association {
                margin: 0 0.5em;
                padding: 0 0.5em;
                border: 0.05em solid $color-comment-info-font;
                border-radius: $corner-radius;
                color: $color-comment-info-font;
              }
              a.comment-info-link {
                margin: 0 0.5em;
                &::before {
                  content: "#";
                }
              }
            }
            div.comment-content {
              transition: 0.3s ease-in-out;
              padding: 0.5em 1em;
              background: $color-comment-content-background;
              pre {
                transition: 0.3s ease-in-out;
                overflow: auto;
                padding: 0.5em;
                border-radius: $corner-radius;
                background: $color-code-background;
                code {
                  background: inherit;
                }
              }
            }
            &:hover {
              box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.19);
            }
          }
        }
      }
      footer.comments-footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        a.comment-send {
          padding: 0.3em 1em;
          background: $color-button-comment-background;
          border: 0.1em solid $color-button-comment-border;
        }
      }
    }
  } else if (getThemeConfig("comment.disqusShortName")) {
    div.disqus_thread {
      margin: 1rem 2rem;
    }
  } else if (getThemeConfig("comment.valine.enable")) {
    div.vcomments {
      margin: 1rem 2rem;
    }
  }
}
html[data-theme="dark"] {
  div.comment {
    if (getThemeConfig("comment.issue.enable")) {
      div.comment-results {
        div.sk-wave {
          div.sk-rect {
            background: $color-dark-comment-sk-wave-background;
          }
        }
        div.comment-fail {
          color: $color-dark-comment-font;
        }
        header.comments-header {
          color: $color-dark-comment-font;
        }
        main.comments-main {
          div.comment {
            div.comment-body-container {
              div.comment-content {
                background: $color-dark-comment-content-background;
              }
            }
          }
        }
      }
    }
  }
}
