@import "variables";

header.header {
  flex: 0 0 auto;
  padding-bottom: $search-height;
  margin-bottom: 0;
  background: $color-header-background;
  color: $color-header-font;
}
div.header-container {
  display: flex;
  justify-content: stretch;
  align-items: flex-end;
  padding: 1em;
}
div.header-title {
  text-align: left;
  width: 50%;
  word-wrap: break-word;
  flex: 1 1 auto;
  color: $color-title-font;
  a {
    position: static;
    color: $color-title-font;
    text-decoration: none;
    border-bottom: none;
    &:hover {
      color: $color-title-font;
      border-bottom: none;
    }
  }
}
div.title {
  font: bold 2rem $font-title;
  margin: 0 0 0.5em 0;
}
div.subtitle {
  font: italic 1.5rem $font-subtitle;
  margin: 0.5em 0 0 0;
}
div.logo {
  text-align: right;
  width: 50%;
  flex: 1 1 auto;
  img {
    display: inline-block;
    max-height: 5em;
    width: auto;
  }
}
@media (max-width: $media-footer-header-nav-fold-width) {
  div.header-container {
    flex-direction: column-reverse;
    align-items: stretch;
  }
  div.header-title, div.logo {
    text-align: center;
    width: auto;
  }
}
