@import "variables";
@import "header";
@import "nav";
@import "main";
@import "footer";

html, body {
  width: 100%;
  height: 100%;
}
html {
  // Scrollbar for document.
  scrollbar-width: thin;
  scrollbar-color: $color-scrollbar $color-scrollbar-background;
  ::selection, ::-moz-selection {
    color: $color-selection-font;
    background: $color-selection-background;
  }
  ::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
    background: $color-scrollbar-background;
  }
  ::-webkit-scrollbar-track {
    background: 0 0;
  }
  ::-webkit-scrollbar-thumb {
    background: $color-scrollbar;
    border-radius: 0.25em;
    &:hover {
      background: $color-scrollbar-hover;
    }
  }
  ::-webkit-scrollbar-corner {
    background: $color-scrollbar-corner;
  }
  ::-webkit-scrollbar-resizer {
    background: $color-scrollbar-resizer;
  }
}
body {
  transition: 0.3s ease-in-out;
  font: $font-size $font-all;
  color: $color-font;
  background: $color-background;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: stretch;
  align-items: stretch;
}
div.container {
  padding: 0;
  // max-width: $container-max-width;
  width: 75%;
  height: 100%;
  margin: 0 auto;
}
div.center {
  text-align: center
}
ol, ul {
  padding-left: 2em;
}
a {
  position: relative;
  color: $color-link-font;
  text-decoration: none;
  border-bottom: 0.05em dotted $color-link-font;
  transition: 0.3s ease-in-out;
  &:hover {
    color: $color-link-hover-font;
    border-bottom: 0.05em solid $color-link-hover-font;
  }
  &:active {
    top: 0.1em;
  }
}
img {
  max-width: 100%;
}
a.gallery-item, a.img-link {
  border-bottom: none;
  img {
    border: 0.15em solid $color-quote-font;
  }
  &:hover {
    border-bottom: none;
    img {
      box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.19);
    }
  }
}
a#top, a#more {
  border: none;
  margin: 0;
  padding: 0;
  &:hover {
    border: none;
  }
  &:active {
    top: 0;
  }
}
span.caption {
  color: $color-quote-font;
  display: block;
  text-align: center;
  margin: 0 0 1em 0;
}
a.button, button.button {
  position: relative;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  border-radius: $corner-radius;
  border-bottom: none;
  box-sizing: border-box;
  color: $color-button-font;
  background: $color-button-background;
  border: 0.1em solid $color-button-border;
  &:hover {
    box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.19);
    border-bottom: none;
  }
  &:active {
    top: 0.1em;
  }
}
hr {
  height: 0.3em;
  border: none;
  margin: 1.5em 0;
  width: 100%;
  box-sizing: content-box;
  background: repeating-linear-gradient(-45deg, #ccc, #ccc 0.25rem, transparent 0.25rem, transparent 0.5rem);
}
article table {
  margin: 1em auto;
  width: 90%;
  border-spacing: 0;
  border-collapse: collapse;
  thead tr {
    background: $color-table-head-background;
    th {
      padding: 0.4em 0.7em;
      border: 0.1rem solid $color-table-head-border;
    }
  }
  tbody tr {
    background: $color-table-odd-row-background;
    td {
      padding: 0.4em 0.7em;
      border: 0.1rem solid $color-table-border;
      &:nth-child(2n) {
        background: $color-table-even-row-background;
      }
    }
    &:nth-child(2n) {
      background: $color-table-even-row-background;
      td {
        padding: 0.4em 0.7em;
        border: 0.1rem solid $color-table-border;
        &:nth-child(2n) {
          background: $color-table-odd-row-background;
        }
      }
    }
  }
}
code {
  margin: 0.05em 0.05em;
  color: $color-code-font;
  padding: 0.125em 0.25em;
  overflow: auto;
  word-wrap: break-word;
  border-radius: $corner-radius;
  font-family: $font-code;
  background: $color-code-background;
  -webkit-font-feature-settings: "liga" 0; /* No variation */
  -moz-font-feature-settings: "liga=0"; /* Firefox 4.0 to 14.0 */
  -moz-font-feature-settings: "liga" 0; /* Firefox 15.0 onwards */
  -moz-font-feature-settings: "liga" 0; /* Firefox 15.0 onwards explicitly set feature values */
  font-feature-settings: "liga" 0; /* No variation */
}
pre code {
  margin: 0;
  padding: 0;
}
div.code-titlebar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border-radius: $corner-radius $corner-radius 0 0;
  color: $color-code-titlebar-font;
  background: $color-code-titlebar-background;
  padding: 0.25em 0.5em;
  div.titlebar-left {
    flex: 0 0 auto;
    text-align: left;
    padding: 0 0.25em;
  }
  div.titlebar-center {
    flex: 1 1 auto;
    text-align: center;
    padding: 0 0.25em;
  }
  div.titlebar-right {
    flex: 0 0 auto;
    text-align: right;
    padding: 0 0.25em;
  }
  button.copy {
    background: inherit;
    text-decoration: none;
    border: none;
    padding: 0;
    margin: 0.25em;
    box-sizing: border-box;
    color: $color-link-copy-font;
    transition: 0.3s ease-in-out;
    &:hover {
      color: $color-link-copy-hover-font;
      border: none;
    }
    &.copied {
      color: $color-link-copy-hover-font;
    }
  }
  button.button-dot {
    text-decoration: none;
    border: none;
    padding: 0;
    margin: 0.25em;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    transition: 0.3s ease-in-out;
    &:hover {
      opacity: 0.7;
      border: none;
    }
  }
  button.dot-close {
    background: $color-button-dot-close-background;
  }
  button.dot-maximize {
    background: $color-button-dot-maximize-background;
  }
  button.dot-minimize {
    background: $color-button-dot-minimize-background;
  }
}
figure.highlight {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: stretch;
  align-items: stretch;
  overflow: auto;
  border-left: 0.1em solid $color-code-border;
  border-bottom: 0.1em solid $color-code-border;
  border-right: 0.1em solid $color-code-border;
  padding: 0.5em;
  margin: 0;
  -webkit-font-feature-settings: "liga" 0; /* No variation */
  -moz-font-feature-settings: "liga=0"; /* Firefox 4.0 to 14.0 */
  -moz-font-feature-settings: "liga" 0; /* Firefox 15.0 onwards */
  -moz-font-feature-settings: "liga" 0; /* Firefox 15.0 onwards explicitly set feature values */
  font-feature-settings: "liga" 0; /* No variation */
  pre {
    font-family: $font-code;
    font-size: $font-size;
    // Keep Chinese and English the same height.
    line-height: 1.5;
    margin: 0;
    &.gutter {
      flex: 0 0 auto;
      text-align: right;
      padding: 0 0.5em;
      // Only show border of gutter, so when user choose no gutter in config,
      // there is no border for code.
      border-right: 0.1em dotted $color-quote-font;
    }
    &.code {
      position: relative;
      flex: 1 1 auto;
      text-align: left;
      padding: 0 0.5em;
    }
    code {
      color: inherit;
      background: inherit;
    }
  }
}
blockquote {
  margin: 1em 0;
  // This is relative to text.
  padding: 0 1em;
  border-left: 0.25em solid $color-quote-font;
  color: $color-quote-font;
  p {
    white-space: pre-wrap;
    padding: 0;
    margin: 0;
  }
}
blockquote.center-quote, blockquote.centerquote {
  margin: 1em 0;
  padding: 0.5em 15%;
  border-left: none;
  border-top: 0.2em solid $color-quote-font;
  border-bottom: 0.2em solid $color-quote-font;
  text-align: center;
  color: $color-quote-font;
  p, div {
    text-align: center;
  }
}
div.alert-red, div.alert-green, div.alert-blue {
  text-align: center;
  margin: 1em 0;
  padding: 0.5em 15%;
  border-radius: $corner-radius;
}
div.alert-red {
  color: $color-alert-red-font;
  border: 0.1em solid $color-alert-red-border;
  background-color: $color-alert-red-background;
}
div.alert-green {
  color: $color-alert-green-font;
  border: 0.1em solid $color-alert-green-border;
  background-color: $color-alert-green-background;
}
div.alert-blue {
  color: $color-alert-blue-font;
  border: 0.1em solid $color-alert-blue-border;
  background-color: $color-alert-blue-background;
}
article.card {
  display: block;
  background: $color-card-background;
  box-sizing: border-box;
  border-radius: $corner-radius;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  &:hover {
    box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.19);
  }
}
svg.svg-inline--fa {
  margin: 0 0.2em;
}
if (getThemeConfig("animate")) {
  article.animate {
    animation: 0.3s flip forwards;
    opacity: 0;
    transform-origin: 50%;
    transform: rotateX(180deg);
    @keyframes flip {
      0% {
        opacity: 0;
        transform: rotateX(180deg);
      }
      100% {
        opacity: 1;
        transform: rotateX(0);
      }
    }
  }
}
html[data-theme="dark"] {
  scrollbar-color: $color-dark-scrollbar $color-dark-scrollbar-background;
  * {
    scrollbar-color: $color-dark-scrollbar $color-dark-scrollbar-background;
  }
  ::-webkit-scrollbar {
    background: $color-dark-scrollbar-background;
  }
  ::-webkit-scrollbar-thumb {
    background: $color-dark-scrollbar;
    &:hover {
      background: $color-dark-scrollbar-hover;
    }
  }
  ::-webkit-scrollbar-corner {
    background: $color-dark-scrollbar-corner;
  }
  ::-webkit-scrollbar-resizer {
    background: $color-dark-scrollbar-resizer;
  }
  body {
    color: $color-dark-font;
    background: $color-dark-background;
  }
  a {
    color: $color-dark-link-font;
    border-bottom: 0.05em dotted $color-dark-link-font;
    &:hover {
      color: $color-dark-link-hover-font;
      border-bottom: 0.05em solid $color-dark-link-hover-font;
    }
  }
  a.gallery-item, a.img-link {
    // This will inherit from html[data-theme="dark"] a.
    border-bottom: none;
    img {
      border: 0.15em solid $color-dark-quote-font;
    }
    &:hover {
      border-bottom: none;
    }
  }
  span.caption {
    color: $color-dark-quote-font;
  }
  a.button, button.button {
    opacity: $opacity-dark;
  }
  article table {
    thead tr {
      background: $color-dark-table-head-background;
    }
    tbody tr {
      background: $color-dark-table-odd-row-background;
      td {
        &:nth-child(2n) {
          background: $color-dark-table-even-row-background;
        }
      }
      &:nth-child(2n) {
        background: $color-dark-table-even-row-background;
        td {
          &:nth-child(2n) {
            background: $color-dark-table-odd-row-background;
          }
        }
      }
    }
  }
  code {
    opacity: $opacity-dark;
  }
  figure.highlight {
    pre {
      &.gutter {
        border-right: 0.1em dotted $color-dark-quote-font;
      }
    }
  }
  blockquote {
    border-left: 0.25em solid $color-dark-quote-font;
    color: $color-dark-quote-font;
    p {
      color: $color-dark-quote-font;
    }
  }
  blockquote.center-quote, blockquote.centerquote {
    // This will inherit from html[data-theme="dark"] blockquote.
    border-left: none;
    border-top: 0.2em solid $color-dark-quote-font;
    border-bottom: 0.2em solid $color-dark-quote-font;
    color: $color-dark-quote-font;
  }
  div.alert-red, div.alert-green, div.alert-blue {
    opacity: $opacity-dark;
  }
  article.card {
    background: $color-dark-card-background;
  }
}
@media (max-width: $media-container-expand-width) {
  div.container {
    width: 100%;
  }
}
