@import "variables";
@import "header";
@import "nav";
@import "main";
@import "footer";

:root {
  --color-scrollbar: $color-scrollbar;
  --color-scrollbar-background: $color-scrollbar-background;
  --color-scrollbar-hover: $color-scrollbar-hover;
  --color-scrollbar-corner: $color-scrollbar-corner;
  --color-scrollbar-resizer: $color-scrollbar-resizer;
  --color-font: $color-font;
  --color-background: $color-background;
  --color-link-font: $color-link-font;
  --color-link-hover-font: $color-link-hover-font;
  --color-quote-font: $color-quote-font;
  --color-table-head-background: $color-table-head-background;
  --color-table-head-border: $color-table-head-border;
  --color-table-odd-row-background: $color-table-odd-row-background;
  --color-table-border: $color-table-border;
  --color-table-even-row-background: $color-table-even-row-background;
  --color-card-background: $color-card-background;
  --color-hr-sidebar-background: $color-hr-sidebar-background;
  --color-sk-wave-background: $color-sk-wave-background;
  --color-comment-sk-wave-background: $color-comment-sk-wave-background;
  --color-comment-font: $color-comment-font;
  --color-comment-content-background: $color-comment-content-background;
  --color-author-name-font: $color-author-name-font;
  --color-author-description-font: $color-author-description-font;
  --color-main-background: $color-main-background;
  --color-reward-font: $color-reward-font;
  --color-sidebar-background: $color-sidebar-background;
  --url-sidebar-background: $url-sidebar-background;
}
:root[data-theme="dark"] {
  --color-scrollbar: $color-dark-scrollbar;
  --color-scrollbar-background: $color-dark-scrollbar-background;
  --color-scrollbar-hover: $color-dark-scrollbar-hover;
  --color-scrollbar-corner: $color-dark-scrollbar-corner;
  --color-scrollbar-resizer: $color-dark-scrollbar-resizer;
  --color-font: $color-dark-font;
  --color-background: $color-dark-background;
  --color-link-font: $color-dark-link-font;
  --color-link-hover-font: $color-dark-link-hover-font;
  --color-quote-font: $color-dark-quote-font;
  --color-table-head-background: $color-dark-table-head-background;
  --color-table-head-border: $color-dark-table-head-border;
  --color-table-odd-row-background: $color-dark-table-odd-row-background;
  --color-table-border: $color-dark-table-border;
  --color-table-even-row-background: $color-dark-table-even-row-background;
  --color-card-background: $color-dark-card-background;
  --color-hr-sidebar-background: $color-dark-hr-sidebar-background;
  --color-sk-wave-background: $color-dark-sk-wave-background;
  --color-comment-sk-wave-background: $color-dark-comment-sk-wave-background;
  --color-comment-font: $color-dark-comment-font;
  --color-comment-content-background: $color-dark-comment-content-background;
  --color-author-name-font: $color-dark-author-name-font;
  --color-author-description-font: $color-dark-author-description-font;
  --color-main-background: $color-dark-main-background;
  --color-reward-font: $color-dark-reward-font;
  --color-sidebar-background: $color-dark-sidebar-background;
  --url-sidebar-background: $url-dark-sidebar-background;
}
html {
  // Scrollbar for document.
  scrollbar-width: thin;
  scrollbar-color: $color-scrollbar $color-scrollbar-background;
  scrollbar-color: var(--color-scrollbar) var(--color-scrollbar-background);
}
* {
  box-sizing: border-box;
}
::selection, ::-moz-selection {
  color: $color-selection-font;
  background: $color-selection-background;
}
::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
  background: var(--color-scrollbar-background);
}
::-webkit-scrollbar-track {
  background: 0 0;
}
::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar);
  border-radius: 0.25em;
  &:hover {
    background: var(--color-scrollbar-hover);
  }
}
::-webkit-scrollbar-corner {
  background: var(--color-scrollbar-corner);
}
::-webkit-scrollbar-resizer {
  background: var(--color-scrollbar-resizer);
}
body {
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
  font: $font-size $font-all;
  color: $color-font;
  color: var(--color-font);
  background: $color-background;
  background: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  width: 100%;
  height: 100%;
  // You phone is too long and too narrow, let the whole page scroll.
  min-width: $body-min-width;
  overflow: auto;
}
div.container {
  padding: 0;
  margin: 0 auto;
  width: 75%;
  height: 100%;
  // You have a brand screen! You must be so rich but we take care your neck.
  max-width: $container-max-width;
}
div.center {
  text-align: center
}
ol, ul {
  padding-left: 1em;
}
a {
  position: relative;
  transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
  color: $color-link-font;
  color: var(--color-link-font);
  text-decoration: none;
  border-bottom: 0.05em dotted $color-link-font;
  border-bottom: 0.05em dotted var(--color-link-font);
  &:hover {
    color: $color-link-hover-font;
    color: var(--color-link-hover-font);
    border-bottom: 0.05em solid $color-link-hover-font;
    border-bottom: 0.05em solid var(--color-link-hover-font);
  }
  &:active {
    top: 0.1em;
  }
}
table, img {
  max-width: 100%;
}
a.gallery-item, a.img-link {
  border-bottom: none;
  img {
    transition: box-shadow 0.3s ease-in-out;
    border: 0.15em solid $color-quote-font;
    border: 0.15em solid var(--color-quote-font);
  }
  &:hover {
    border-bottom: none;
    img {
      box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.19);
    }
  }
}
a#top, a#more {
  position: static;
  border: none;
  margin: 0;
  padding: 0;
  &:hover {
    border: none;
  }
}
span.caption {
  color: $color-quote-font;
  color: var(--color-quote-font);
}
a.button, button.button {
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
  text-decoration: none;
  border-radius: $corner-radius;
  color: $color-button-font;
  background: $color-button-background;
  border: 0.1em solid $color-button-border;
  &:hover {
    box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.19);
    border-bottom: none;
  }
  &:active {
    top: 0.1em;
  }
}
hr {
  height: 0.3em;
  border: none;
  margin: 1.5em 0;
  width: 100%;
  background: repeating-linear-gradient(-45deg, $color-hr-background, $color-hr-background 0.25em, transparent 0.25em, transparent 0.5em);
}
article table {
  // Make table center.
  margin: 0 auto;
  th {
    padding: 0.4em 0.7em;
    border: 0.1em solid $color-table-head-border;
    border: 0.1em solid var(--color-table-head-border);
  }
  td {
    padding: 0.4em 0.7em;
    border: 0.1em solid $color-table-border;
    border: 0.1em solid var(--color-table-border);
  }
  thead tr {
    background: $color-table-head-background;
    background: var(--color-table-head-background);
  }
  tbody tr {
    background: $color-table-odd-row-background;
    background: var(--color-table-odd-row-background);
    td {
      &:nth-child(2n) {
        background: $color-table-even-row-background;
        background: var(--color-table-even-row-background);
      }
    }
    &:nth-child(2n) {
      background: $color-table-even-row-background;
      background: var(--color-table-even-row-background);
      td {
        &:nth-child(2n) {
          background: $color-table-odd-row-background;
          background: var(--color-table-odd-row-background);
        }
      }
    }
  }
}
code {
  padding: 0 0.25em;
  color: $color-code-font;
  background: $color-code-background;
  word-wrap: break-word;
  border-radius: $corner-radius;
  font-family: $font-code;
  font-feature-settings: "liga" 0;
}
pre {
  font-family: $font-code;
  font-size: $font-size;
  // Keep Chinese and English the same height.
  line-height: 1.5;
  font-feature-settings: "liga" 0;
}
div.code-titlebar {
  display: flex;
  justify-content: stretch;
  align-items: center;
  border-radius: $corner-radius $corner-radius 0 0;
  color: $color-code-block-titlebar-font;
  background: $color-code-block-titlebar-background;
  padding: 0 0.25em;
}
div.titlebar-left {
  flex: 0 0 auto;
  text-align: left;
  padding: 0 0.25em;
}
div.titlebar-center {
  flex: 1 1 auto;
  text-align: center;
  padding: 0 0.25em;
}
div.titlebar-right {
  flex: 0 0 auto;
  text-align: right;
  padding: 0 0.25em;
}
button.copy {
  background: inherit;
  text-decoration: none;
  border: none;
  padding: 0;
  margin: 0.25em;
  color: $color-link-copy-font;
  transition: color 0.3s ease-in-out;
  &:hover {
    color: $color-link-copy-hover-font;
    border: none;
  }
  &.copied {
    color: $color-link-copy-hover-font;
  }
}
button.button-dot {
  text-decoration: none;
  border: none;
  padding: 0;
  margin: 0.25em;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  transition: opacity 0.3s ease-in-out;
  &:hover {
    opacity: 0.7;
    border: none;
  }
}
button.dot-close {
  background: $color-button-dot-close-background;
}
button.dot-maximize {
  background: $color-button-dot-maximize-background;
}
button.dot-minimize {
  background: $color-button-dot-minimize-background;
}
figure.code-block {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  border-left: 0.1em solid $color-code-block-border;
  border-bottom: 0.1em solid $color-code-block-border;
  border-right: 0.1em solid $color-code-block-border;
  padding: 0;
  margin: 0;
  // A default color if Hikaru's builtin hljs is disabled.
  &:not(.hljs) {
    color: $color-code-block-font;
    background: $color-code-block-background;
  }
  pre {
    margin: 0;
    &.gutter {
      flex: 0 0 auto;
      text-align: right;
      padding: 0.5em;
      // Only show border of gutter, so when user choose no gutter in config,
      // there is no border for code.
      border-right: 0.1em dotted $color-code-block-font;
    }
    &.code {
      flex: 1 1 auto;
      padding: 0.5em;
      overflow: auto;
      scrollbar-width: thin;
      scrollbar-color: $color-scrollbar $color-scrollbar-background;
      scrollbar-color: var(--color-scrollbar) var(--color-scrollbar-background);
      code {
        margin: 0;
        padding: 0;
        color: inherit;
        background: inherit;
        word-wrap: normal;
        border-radius: 0;
      }
    }
  }
}
blockquote {
  margin: 1em 0;
  // This is relative to text.
  padding: 0 1em;
  color: $color-quote-font;
  color: var(--color-quote-font);
  border-left: 0.25em solid $color-quote-font;
  border-left: 0.25em solid var(--color-quote-font);
  p {
    white-space: pre-wrap;
    padding: 0;
    margin: 0;
  }
}
blockquote.center-quote, blockquote.centerquote {
  margin: 1em 0;
  padding: 0.5em 15%;
  color: $color-quote-font;
  color: var(--color-quote-font);
  border-left: none;
  border-top: 0.2em solid $color-quote-font;
  border-top: 0.2em solid var(--color-quote-font);
  border-bottom: 0.2em solid $color-quote-font;
  border-bottom: 0.2em solid var(--color-quote-font);
  text-align: center;
  p, div {
    text-align: center;
  }
}
div.alert-red, div.alert-green, div.alert-blue {
  text-align: center;
  margin: 1em 0;
  padding: 0.5em 15%;
  border-radius: $corner-radius;
}
div.alert-red {
  color: $color-alert-red-font;
  border: 0.1em solid $color-alert-red-border;
  background-color: $color-alert-red-background;
}
div.alert-green {
  color: $color-alert-green-font;
  border: 0.1em solid $color-alert-green-border;
  background-color: $color-alert-green-background;
}
div.alert-blue {
  color: $color-alert-blue-font;
  border: 0.1em solid $color-alert-blue-border;
  background-color: $color-alert-blue-background;
}
div.sk-wave {
  font-size: 1rem;
  margin: 2em auto;
  height: 3em;
  text-align: center;
}
div.sk-rect {
  background: $color-sk-wave-background;
  background: var(--color-sk-wave-background);
  height: 100%;
  width: 0.5em;
  display: inline-block;
  animation: sk-wave-stretch-delay 1.2s infinite ease-in-out;
  animation-delay: -1.2s;
  &:nth-child(2n) {
    animation-delay: -1.1s;
  }
  &:nth-child(3n) {
    animation-delay: -1.0s;
  }
  &:nth-child(4n) {
    animation-delay: -0.9s;
  }
  &:nth-child(5n) {
    animation-delay: -0.8s;
  }
}
@keyframes sk-wave-stretch-delay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
  }
}
article.card {
  display: block;
  transition: box-shadow 0.3s ease-in-out;
  background: $color-card-background;
  background: var(--color-card-background);
  overflow: hidden;
  border-radius: $corner-radius;
  padding: 0.5em 1em;
  margin: 0.5em;
  &:hover {
    box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.19);
  }
}
svg.svg-inline--fa {
  margin: 0 0.2em;
}
if (getThemeConfig("animate")) {
  article.animate {
    animation: 0.3s flip forwards;
    opacity: 0;
    transform-origin: 50%;
    transform: rotateX(180deg);
  }
  @keyframes flip {
    0% {
      opacity: 0;
      transform: rotateX(180deg);
    }
    100% {
      opacity: 1;
      transform: rotateX(0);
    }
  }
}
@media (max-width: $media-container-expand-width) {
  div.container {
    width: 100%;
  }
}
