@import "variables";

div.info {
  text-align: center;
}
img.author-avatar {
  // Keep in center.
  width: 90%;
  display: block;
  margin: 1em auto;
  border: 0.3em solid white;
  border-radius: 50%;
  transition: box-shadow 0.3s ease-in-out, transform 1s ease-in-out;
  &:hover {
    box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.19);
    transform: rotateY(720deg);
  }
}
div.author-name {
  color: $color-author-name-font;
  color: var(--color-author-name-font);
  font-size: 1.8rem;
  margin: 0.5em 0;
}
div.author-description {
  color: $color-author-description-font;
  color: var(--color-author-description-font);
  font-size: 1.2rem;
  margin: 0.5em 0;
}
div.site-count {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  margin: 1em 0;
  text-align: center;
}
div.count-block {
  flex: 1 1 auto;
  border-left: 0.05em $color-quote-font solid;
  border-left: 0.05em var(--color-quote-font) solid;
  border-right: 0.05em $color-quote-font solid;
  border-right: 0.05em var(--color-quote-font) solid;
  &:first-child {
    border-left: none;
  }
  &:last-child {
    border-right: none;
  }
}
div.site-count-title {
  margin: 0;
  font-size: 1.2rem;
}
div.rss {
  margin: 1em 0;
  padding: 0;
}
a.rss-link {
  display: block;
  font-size: 1.5rem;
  color: $color-button-font;
  background: $color-button-rss-background;
  border: 0.1em solid $color-button-rss-border;
  padding: 0.2em;
}
