@import "variables";

div.info {
  text-align: center;
  img.author-avatar {
    // Keep in center.
    width: 90%;
    display: block;
    margin: 1rem auto;
    border: 0.3rem solid white;
    border-radius: 50%;
    transition: box-shadow 0.3s ease-in-out, transform 1s ease-in-out;
    &:hover {
      box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.19);
      transform: rotateY(720deg);
    }
  }
  h1.author-name {
    color: $color-author-name-font;
    font-size: 1.8rem;
    font-weight: normal;
    margin: 0.5rem 0;
  }
  h2.author-description {
    color: $color-author-description-font;
    font-size: 1.2rem;
    font-weight: normal;
    margin: 0.5rem 0;
  }
  div.site-count {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
    width: 100%;
    margin: 1rem 0;
    text-align: center;
    div.count-block {
      flex: 1 1 auto;
      border-left: 0.05rem $color-quote-font solid;
      border-right: 0.05rem $color-quote-font solid;
      &:first-child {
        border-left: none;
      }
      &:last-child {
        border-right: none;
      }
    }
    div.site-count-title {
      margin: 0;
      font-size: 1.2rem;
    }
  }
  div.rss {
    margin: 1rem 0;
    padding: 0;
    a.rss-link {
      display: block;
      font-size: 1.5rem;
      color: $color-button-font;
      background: $color-button-rss-background;
      border: 0.1em solid $color-button-rss-border;
      padding: 0.2em;
    }
  }
}
html[data-theme="dark"] {
  div.info {
    h1.author-name {
      color: $color-dark-author-name-font;
    }
    h2.author-description {
      color: $color-dark-author-description-font;
    }
    div.site-count {
      div.count-block {
        border-left: 0.05rem $color-dark-quote-font solid;
        border-right: 0.05rem $color-dark-quote-font solid;
        &:first-child {
          border-left: none;
        }
        &:last-child {
          border-right: none;
        }
      }
    }
  }
}
