@import "variables";
@import "nib";
main.main {
  font: $font-size $font-main;
  margin-top: 0 - $search-height;
  div.main-container {
    width: auto;
    background: $color-main-background;
    box-sizing: border-box;
    // 0.5rem is the offset for nav shadow.
    box-shadow: 0 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.19);
    border-radius: bottom $corner-radius;
    display: flex;
    if (getThemeConfig("sidebar") == "left") {
      flex-direction: row-reverse;
    } else if (getThemeConfig("sidebar") == "right") {
      flex-direction: row;
    }
    justify-content: stretch;
    align-items: stretch;
    flex-wrap: nowrap;
    padding: 0;
    div.content {
      flex: 3 3 auto;
      width: 75%;
    }
  }
  @media (max-width: $media-main-fold-width) {
    div.main-container {
      flex-direction: column;
      div.content {
        width: 100%;
      }
    }
  }
}
