@import "variables";
@import "nib";
.nav {
  position: relative;
  margin: 0;
  padding: 0 0.5em;
  background: $color-nav-background;
  // -0.5rem is the offset for main shadow.
  box-shadow: 0 -0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.19);
  border-radius: top $corner-radius;
  display: block;
  ul {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: auto;
    white-space: nowrap;
    li {
      position: relative;
      text-align: center;
      display: inline-block;
      margin: 0 0.1em;
      a {
        position: relative;
        display: block;
        font-size: 1.5rem;
        // Keep Chinese and English the same height.
        line-height: 1.5;
        padding: 0.5em;
        color: $color-nav-link-font;
        text-decoration: none;
        transition: 0.3s ease-in-out;
        border-bottom: none;
        &:hover {
          color: $color-nav-link-hover-font;
          background: $color-nav-hover-background;
        }
        &:active {
          top: 0;
        }
        &.current {
          color: $color-nav-link-hover-font;
          background: $color-nav-current-background;
        }
      }
    }
  }
  .nav-toggle {
    text-align: center;
    font-size: 2rem;
    position: relative;
    cursor: pointer;
    color: $color-nav-link-font;
    display: none;
    width: 100%;
    text-align: center;
    border-bottom: none;
    &:hover {
      border-bottom: none;
      color: $color-nav-link-hover-font;
    }
  }
  @media (max-width: $media-footer-header-nav-fold-width) {
    .nav-toggle {
      display: block;
    }
    ul {
      display: none;
      white-space: normal;
      li {
        display: block;
        text-align: center
        margin: 0.1em 0;
        a {
          position: relative;
          border-bottom: none;
          &:hover {
            color: $color-nav-link-hover-font;
            background: $color-nav-hover-background;
          }
        }
      }
    }
  }
}
