@import "variables";
@import "comment";

// page means area outside card.
div.page-title {
  text-align: center;
  // Looks like h1.
  font-size: 2rem;
  margin: 0.67em 0;
  font-weight: bold;
}
div.page-counter {
  text-align: center;
  font-size: 1.5rem;
  margin: 0.83em 0;
  font-weight: bold
}
nav.pagination {
  margin: 0.5em 0;
  padding: 0.5em;
  display: block;
  text-align: center;
}
a.page-number {
  display: inline-block;
  font-size: 1.25rem;
  padding: 0.3em 0.5em;
  margin: 0 0.25em;
  text-decoration: none;
  color: $color-link-font;
  color: var(--color-link-font);
  border-bottom: 0.15em solid $color-link-font;
  border-bottom: 0.15em solid var(--color-link-font);
  &:hover {
    color: $color-link-hover-font;
    color: var(--color-link-hover-font);
    border-bottom: 0.15em solid $color-link-hover-font;
    border-bottom: 0.15em solid var(--color-link-hover-font);
  }
  &.current {
    color: $color-link-hover-font;
    color: var(--color-link-hover-font);
    border-bottom: 0.15em solid $color-link-hover-font;
    border-bottom: 0.15em solid var(--color-link-hover-font);
    border-top: 0.1em solid $color-link-hover-font;
    border-top: 0.1em solid var(--color-link-hover-font);
  }
}
nav.page-nav {
  margin: 0 1em;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
div.page-nav-item {
  flex: 1 1 auto;
  font-size: 1.2rem;
  a {
    position: relative;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    border-bottom: none;
    span {
      margin: 0.3em;
    }
    &:active {
      top: 0.1em;
    }
  }
}
div.page-nav-next {
  text-align: left;
  a {
    justify-content: flex-start;
  }
}
div.page-nav-prev {
  text-align: right;
  a {
    justify-content: flex-end;
  }
}
@media (max-width: $media-footer-header-nav-fold-width) {
  nav.page-nav {
    flex-direction: column;
    align-items: stretch;
  }
}
