@import "variables";
@import "comment";

div.page {
  h1.page-title, h2.page-title {
    text-align: center;
  }
  h2.page-counter {
    text-align: center;
  }
  nav.pagination {
    margin: 1rem 0;
    padding: 1rem 0;
    display: block;
    text-align: center;
    transition: 0.3s ease-in-out;
    color: $color-link-font;
    a.page-number, a.extend {
      overflow: hidden;
      font-size: 1.2rem;
      padding: 0.5em;
      margin: 0 0.5em;
      text-decoration: none;
      border-bottom: 0.15em solid $color-link-font;
      transition: 0.3s ease-in-out;
      &:hover {
        border-bottom: 0.15em solid $color-link-hover-font;
      }
      &.current {
        color: $color-link-hover-font;
        border-bottom: 0.15em solid $color-link-hover-font;
        border-top: 0.07em solid $color-link-hover-font;
      }
    }
    span.space {
      margin: 0 0.5em;
      transition: 0.3s ease-in-out;
      color: $color-link-font;
    }
  }
  nav.page-nav {
    margin: 0 1rem;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    div.page-nav-item {
      flex: 1 1 auto;
      font-size: 1.2rem;
      a {
        position: relative;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        text-decoration: none;
        border-bottom: none;
        span {
          margin: 0.3em;
        }
        &:active {
          top: 0.1em;
        }
      }
    }
    div.page-nav-next {
      width: 45%;
      text-align: left;
      a {
        justify-content: flex-start;
      }
    }
    div.page-nav-prev {
      width: 45%;
      text-align: right;
      a {
        justify-content: flex-end;
      }
    }
  }
}
html[data-theme="dark"] {
  div.page {
    nav.pagination {
      color: $color-dark-link-font;
      a.page-number, a.extend {
        border-bottom: 0.15em solid $color-dark-link-font;
        &:hover {
          border-bottom: 0.15em solid $color-dark-link-hover-font;
        }
        &.current {
          color: $color-dark-link-hover-font;
          border-bottom: 0.15em solid $color-dark-link-hover-font;
          border-top: 0.07em solid $color-dark-link-hover-font;
        }
      }
      span.space {
        margin: 0 0.5em;
        color: $color-dark-link-font;
      }
    }
  }
}
