@import "variables";
@import "reward";

// post means area inside card.
header.post-header {
  text-align: center;
}
div.post-title-simple {
  // Looks like h1, but without margin.
  font-size: 2rem;
  font-weight: bold;
}
// I don't want to change link in `div.post-title-simple`,
// which is used in pages like archives.
div.post-title {
  // Looks like h1.
  font-size: 2rem;
  margin: 0.67em 0;
  font-weight: bold;
  a.post-title-link {
   // Use inline-block because it is not supposed to hold the whole line.
   display: inline-block;
   position: relative;
   text-decoration: none;
   border-bottom: none;
   color: $color-font;
   color: var(--color-font);
   &::after {
     content: " ";
     position: absolute;
     width: 100%;
     height: 0.1em;
     bottom: 0;
     left: 0;
     transition: transform 0.3s ease-in-out;
     background: $color-font;
     background: var(--color-font);
     visibility: hidden;
     transform: scaleX(0);
   }
   &:hover {
     &::after {
       visibility: visible;
       transform: scaleX(1);
     }
   }
   &:active {
     top: 0.1em;
   }
 }
}
div.meta-block {
  margin: 0.5em;
}
a.header-link, a.headerlink {
  position: static;
  border-bottom: none;
  &:hover {
    border-bottom: none;
  }
  &::before {
    content: "#";
    margin-right: 0.3em;
  }
}
a.post-tag {
  // Make Chinese and English the same height in mobile devices.
  line-height: 1.5;
  margin: 0.1em 0.5em;
  display: inline-block;
  background: $color-button-tag-first-background;
  border: 0.1em solid $color-button-tag-first-border;
  padding: 0.15em;
  &:nth-child(2n) {
    background: $color-button-tag-second-background;
    border: 0.1em solid $color-button-tag-second-border;
  }
  &:nth-child(3n) {
    background: $color-button-tag-third-background;
    border: 0.1em solid $color-button-tag-third-border;
  }
}
footer.post-footer {
  text-align: center;
}
div.tags-cloud {
  text-align: center;
}
