@import "variables"
@import "nib";
div.reward {
  margin: 1rem auto;
  width: 90%;
  text-align: center;
  color: $color-reward-font;
  div.qr {
    text-align: center;
    div {
      padding: 0.5em;
      display: inline-block;
      img {
        width: 10rem;
        margin: 0 auto;
        display: block;
      }
      span {
        display: block;
      }
    }
  }
  button.button {
    cursor: pointer;
    border: none;
    outline: 0;
    padding: 0.5em 0.5em;
    margin: 0.5em 0;
    background: $color-button-reward-background;
    border: 0.1em solid $color-button-reward-border;
  }
}
