@import "variables"

div.reward {
  margin: 1em;
  text-align: center;
  color: $color-reward-font;
  color: var(--color-reward-font);
}
button.reward-button {
  cursor: pointer;
  border: none;
  outline: 0;
  padding: 0.5em 0.5em;
  margin: 0.5em 0;
  background: $color-button-reward-background;
  border: 0.1em solid $color-button-reward-border;
}
div.qr {
  text-align: center;
  div {
    padding: 0.5em;
    display: inline-block;
    text-align: center;
    img {
      width: 10em;
      margin: 0 auto;
      display: block;
    }
  }
}
