<header id="header" class="header">
  <div class="container">
    <div class="header-container">
      <div class="header-title">
        <div class="title"><a class="root" href="{{ getPath() }}">{{ siteConfig.title }}</a></div>
        {%- if siteConfig.subtitle %}
        <div class="subtitle">{{ siteConfig.subtitle }}</div>
        {%- endif %}
      </div>
      {%- if themeConfig.logo %}
      <div class="logo">
        <img class="logo-image" src="{{ getPath(themeConfig.logo) }}" alt="logo">
      </div>
      {%- endif %}
    </div>
    <nav id="nav" class="nav">
      <button class="nav-toggle" id="nav-toggle" aria-hidden="true">
        <i class="bi bi-list" aria-label="{{ __("accessibility.navToggle") }}"></i>
      </button>
      <ul class="menu" id="menu" role="menubar" aria-hidden="false">
        {%- for e in themeConfig.menu %}
        {%- set external = true %}
        {%- if isCurrentHost(e.link) %}
        {%- set external = false %}
        {%- endif %}
        {#-
	  About `isCurrentPath(e.link, getPath(e.link) === getPath())`:
	  Normally "Home" is the site root dir, and all pages are under it,
	  then the "Home" link will always be current. For example,
	  `/blog/archives/` is always under `/blog/`. But we don't want two
	  current links ("Home" and "Archives"), so if a link is site root dir,
	  we use strict match for it.
	#}
	{%- set current = false %}
        {%- if isCurrentPath(e.link, getPath(e.link) === getPath()) %}
        {%- set current = true %}
	{%- endif %}
        <li class="menu-item" role="menuitem">
          <a href="{% if external %}{{ e.link }}{% else %}{{ getPath(e.link) }}{% endif %}" class="menu-link{% if not external and current %} current{% endif %}"{% if external %} target="_blank" rel="external nofollow noreferrer noopener"{% endif %}>
            {% if e.icon %}{{ e.icon }}{% endif %}<span class="menu-text">{{ __(e.name) }}</span>
          </a>
        </li>
        {%- endfor %}
      </ul>
      <button class="theme-toggle" id="theme-toggle">
        {#- <i class="bi bi-moon" aria-label="{{ __("accessibility.themeDark") }}"></i> #}
      </button>
    </nav>
  </div>
</header>
