{#- highlight is expensive so only load it on index, pages and posts. #}
{#-
  If user choose to use Hikaru's builtin highlight, we don't do client side
  highlight.
#}
{%- if siteConfig.highlight.enable !== true %}
<script defer type="text/javascript" src="{% if themeConfig.libCDN.enable and themeConfig.libCDN.highlight %}{{ themeConfig.libCDN.highlight }}{% else %}{{ getPath("js/highlight.min.js") }}{% endif %}"></script>
<script type="text/javascript">
  documentReady(() => {
    elementsEach(
      document.querySelectorAll("figure.code-block pre.code code"),
      (e, i) => {
        // We want to use hljs' background and color for the whole block.
        e.parentNode.parentNode.classList.add("hljs");
        hljs.highlightElement(e);
      }
    );
  });
</script>
{%- endif %}
{%- if siteConfig.highlight.gutter !== true %}
<script type="text/javascript">
  documentReady(() => {
    elementsEach(
      document.querySelectorAll("figure.code-block pre.code"),
      (e, i) => {
        const code = e.parentNode.getAttribute("data-raw");
        const gutter = [];
        gutter.push("<pre class=\"gutter\">");
        // Highlight should not change lines.
        // But may replace `\n` with `<br>`, so use original code here.
        const codeLines = code.split(/\r?\n/g);
        // It seems marked.js starts to keep the last `\n`,
        // which will leave an empty line after splitting,
        // and we should not add gutter for the last empty line.
        // Don't do trim here! We only skip empty line.
        if (codeLines[codeLines.length - 1].length === 0) {
          codeLines.pop();
        }
        for (let i = 0; i < codeLines.length; ++i) {
          gutter.push(`<span class="line-number">${i + 1}</span>`);
          if (i !== codeLines.length - 1) {
            gutter.push("\n");
          }
        }
        gutter.push("</pre>");
        elementBefore(e, createElementFromString(gutter.join("")));
      }
    );
  });
</script>
{%- endif %}
