{#- MathJax will only be used in home, pages and posts. #}
<script defer type="text/javascript" src="{{ themeConfig.mathjax.cdn }}"></script>
<script type="text/x-mathjax-config">
  documentReady(() => {
    MathJax.Hub.Config({
      "tex2jax": {
        "inlineMath": [["$", "$"], ["\\(", "\\)"]],
        "processEscapes": true,
        "skipTags": ["script", "noscript", "style", "textarea", "pre", "code"]
      }
    });
    MathJax.Hub.Queue(() => {
      const all = MathJax.Hub.getAllJax();
      for (const jax of all) {
        jax.SourceElement().parentNode.classList.add("has-jax");
      }
    });
  });
</script>
