{% block pagination %}
{% if pageArray != null and pageIndex != null %}
<nav class="pagination">
  {% for page in pageArray %}
  {% if page.pageIndex !== pageIndex %}
  <a class="page-number" href="{{ getPath(page.docPath) }}">{{ page.pageIndex + 1 }}</a>
  {% else %}
  <a class="page-number current" href="{{ getPath(docPath) }}">{{ pageIndex + 1 }}</a>
  {% endif %}
  {% endfor %}
</nav>
{% endif %}
{% endblock %}
