<nav class="pagination">
  {%- for page in pages %}
  <a class="page-number{% if page.index === index %} current{% endif %}" href="{{ getPath(page.docPath) }}">{{ page.index + 1 }}</a>
  {%- endfor %}
</nav>
