{#
  Put macros here. This file should be imported with context to use helpers from
  Hikaru in context.
#}

{%- macro listCategory(cates) -%}
{%- if cates and cates.length > 0 %}
<ul>
  {%- for cate in cates %}
  <li>
    <a href="{{ getPath(cate.docPath) }}">{{ cate.name }}</a>{% if cate.posts and cate.posts.length > 0 %} <span>{{ cate.posts.length }}</span>{% endif %}
    {{- listCategory(cate.subs) }}
  </li>
  {%- endfor %}
</ul>
{%- endif %}
{%- endmacro -%}

{%- macro formatDateTime(dt) -%}
{%- set year = dt.getFullYear() %}
{%- set month = dt.getMonth() + 1 %}
{%- if month <= 9 %}
{%- set month = ["0", month].join("") %}
{%- endif %}
{%- set date = dt.getDate() %}
{%- if date <= 9 %}
{%- set date = ["0", date].join("") %}
{%- endif %}
{%- set hour = dt.getHours() %}
{%- if hour <= 9 %}
{%- set hour = ["0", hour].join("") %}
{%- endif %}
{%- set minute = dt.getMinutes() %}
{%- if minute <= 9 %}
{%- set minute = ["0", minute].join("") %}
{%- endif %}
{%- set second = dt.getSeconds() %}
{%- if second <= 9 %}
{%- set second = ["0", second].join("") %}
{%- endif %}
{{- year }}-{{ month }}-{{ date }} {{ hour }}:{{ minute }}:{{ second }}
{%- endmacro -%}
