{% extends "includes/layout.njk" %}

{% block title %}{{ __(file.title) }} - {{ siteConfig.title }}{% endblock %}

{% block content %}
{%- if themeConfig.pinnedMessage %}
{% include "includes/pinned-message.njk" %}
{%- endif %}
<div id="archives" class="archives page">
  <div class="page-title">
    <a class="title-link" href="{{ getPath(file.docPath) }}" itemprop="url">{{ __(file.title) }}</a>
  </div>
  <div class="page-counter">
    {%- if site.posts.length > 1 %}
    {{ __("postCount.more", site.posts.length) }}
    {%- elseif posts.length === 1 %}
    {{ __("postCount.one", site.posts.length) }}
    {%- else %}
    {{ __("postCount.none") }}
    {%- endif %}
  </div>
  {%- set year = 1970 %}
  {%- for post in file.posts %}
  {%- if post.created.getFullYear() !== year %}
  {%- set year = post.created.getFullYear() %}
  <div class="page-title">{{ year }}</div>
  {%- endif %}
  <article class="article post card{% if themeConfig.animate %} animate{% endif %}" itemscope itemtype="http://schema.org/Article">
    <header id="post-header" class="post-header">
      <div class="post-title-simple" itemprop="name headline">
        <a class="title-link-simple" href="{{ getPath(post.docPath) }}" itemprop="url">{{ post.title }}</a>
      </div>
      {%- if post.created %}
      <span class="post-created">
        <time title="post-created" itemprop="dateCreated datePublished" datetime="{{ post.created.toISOString() }}">{{ formatDateTime(post.created) }}</time>
      </span>
      {%- endif %}
    </header>
  </article>
  {%- endfor %}
  {%- if file.pages and file.pages.length > 0 %}
  {% include "includes/pagination.njk" %}
  {%- endif %}
</div>
{% endblock %}
