{% extends "layout.njk" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ getPath("css/page.css") }}">
<link rel="stylesheet" type="text/css" href="{{ getPath("css/post.css") }}">
{% endblock %}

{% block title %}{{ __(title) }} - {{ siteConfig.title }}{% endblock %}

{% block content %}
<div id="archives" class="archives page">
  <div class="page-title">{{ __(title) }}</div>
  <div class="page-counter">
    {% if site.posts.length > 1 %}
    {{ __("postCount.more", site.posts.length) }}
    {% elseif posts.length === 1 %}
    {{ __("postCount.one", site.posts.length) }}
    {% else %}
    {{ __("postCount.none") }}
    {% endif %}
  </div>
  {% set year = "1970" %}
  {% for post in posts %}
  {% if post.createdMoment.format("YYYY") !== year %}
  {% set year = post.createdMoment.format("YYYY") %}
  <div class="page-title">{{ year }}</div>
  {% endif %}
  <article class="article post card{% if themeConfig.animate %} animate{% endif %}" itemscope itemtype="http://schema.org/Article">
    <header id="post-header" class="post-header">
      <div class="post-title-simple" itemprop="name headline">
        <a class="post-title-link post-title-link-external" href="{{ getPath(post.docPath) }}" itemprop="url">{{ post.title }}</a>
      </div>
      {% if post.createdDate %}
      <span class="post-date">
        <time title="post-date" itemprop="dateCreated datePublished" datetime="{{ post.createdDate.toISOString() }}">{{ post.createdMoment.format("MM-DD") }}</time>
      </span>
      {% endif %}
    </header>
  </article>
  {% endfor %}
  {% include "includes/pagination.njk" %}
  {% if themeConfig.reward.enable %}
  {% include "includes/reward.njk" %}
  {% endif %}
  {% if themeConfig.comment.enable %}
  {% include "includes/comment.njk" %}
  {% endif %}
</div>
{% endblock %}
