{% extends "includes/layout.njk" %}

{% block title %}{{ __(title) }} - {{ siteConfig.title }}{% endblock %}

{% block content %}
<div id="archives" class="archives page">
  <div class="page-title">
    <a class="title-link" href="{{ getPath(docPath) }}" itemprop="url">{{ __(title) }}</a>
  </div>
  <div class="page-counter">
    {%- if site.posts.length > 1 %}
    {{ __("postCount.more", site.posts.length) }}
    {%- elseif posts.length === 1 %}
    {{ __("postCount.one", site.posts.length) }}
    {%- else %}
    {{ __("postCount.none") }}
    {%- endif %}
  </div>
  {%- set year = 1970 %}
  {%- for post in posts %}
  {%- if post.created.getFullYear() !== year %}
  {%- set year = post.created.getFullYear() %}
  <div class="page-title">{{ year }}</div>
  {%- endif %}
  <article class="article post card{% if themeConfig.animate %} animate{% endif %}" itemscope itemtype="http://schema.org/Article">
    <header id="post-header" class="post-header">
      <div class="post-title-simple" itemprop="name headline">
        <a class="title-link-simple" href="{{ getPath(post.docPath) }}" itemprop="url">{{ post.title }}</a>
      </div>
      {%- if post.created %}
      <span class="post-created">
        {%- set month = post.created.getMonth() + 1 %}
        {%- if month <= 9 %}
        {%- set month = ["0", month].join("") %}
        {%- endif %}
        {%- set date = post.created.getDate() %}
        {%- if date <= 9 %}
        {%- set date = ["0", date].join("") %}
        {%- endif %}
        <time title="post-created" itemprop="dateCreated datePublished" datetime="{{ post.created.toISOString() }}">{{ month }}-{{ date }}</time>
      </span>
      {%- endif %}
    </header>
  </article>
  {%- endfor %}
  {%- if pages and pages.length > 0 %}
  {% include "includes/pagination.njk" %}
  {%- endif %}
</div>
{% endblock %}
