{% extends "includes/layout.njk" %}

{% block title %}{{ __(title) }} - {{ siteConfig.title }}{% endblock %}

{% block content %}
{%- if themeConfig.pinnedMessage %}
{% include "includes/pinned-message.njk" %}
{%- endif %}
<div id="categories" class="categories page">
  <article class="article post card{% if themeConfig.animate %} animate{% endif %}">
    <header class="post-header">
      <div class="post-title" itemprop="name headline">
        <a class="title-link" href="{{ getPath(docPath) }}" itemprop="url">{{ __(title) }}</a>
      </div>
    </header>
    <main class="post-main" id="scrollspy-container">
      <div class="page-counter">
        {%- if site.categoriesLength > 1 %}
        {{ __("categoryCount.more", site.categoriesLength) }}
        {%- elseif site.categoriesLength === 1 %}
        {{ __("categoryCount.one", site.categoriesLength) }}
        {%- else %}
        {{ __("categoryCount.none") }}
        {%- endif %}
      </div>
      <div class="categories-list">
        {#-
          Strip white spaces before and after macro defination as if it's
          invisible to prevent blank lines.
        #}
        {%- macro listCategory(cates) -%}
        {%- if cates and cates.length > 0 %}
        <ul>
        {%- for cate in cates %}
          <li>
            <a href="{{ getPath(cate.docPath) }}">{{ cate.name }}</a>{% if cate.posts and cate.posts.length > 0 %} <span>{{ cate.posts.length }}</span>{% endif %}
            {{ listCategory(cate.subs) }}
          </li>
        {%- endfor %}
        </ul>
        {% endif %}
        {% endmacro %}
        {{ listCategory(site.categories) }}
      </div>
    </main>
    <footer class="post-footer"></footer>
  </article>
</div>
{% endblock %}
