{% extends "layout.njk" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ getPath("css/page.css") }}">
<link rel="stylesheet" type="text/css" href="{{ getPath("css/post.css") }}">
{% endblock %}

{% block title %}{{ siteConfig.title }}{% if siteConfig.subtitle %} - {{ siteConfig.subtitle }}{% endif %}{% endblock %}

{% block content %}
<div id="index" class="index page">
  {% for post in posts %}
  <article class="article post card{% if themeConfig.animate %} animate{% endif %}" itemscope itemtype="http://schema.org/Article">
    <div class="post-block">
      <link itemprop="mainEntityOfPage" href="{{ getURL(post.docPath) }}">
      <span hidden itemprop="author" itemscope itemtype="http://schema.org/Person">
        <meta itemprop="name" content="{{ siteConfig.author }}">
        <meta itemprop="description" content="{{ siteConfig.description }}">
        <meta itemprop="image" content="{{ getPath(themeConfig.avatar) }}">
      </span>
      <span hidden itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
        <meta itemprop="name" content="{{ siteConfig.title }}">
      </span>
    </div>
    <header class="post-header">
      <h1 class="post-title" itemprop="name headline">
        <a class="post-title-link post-title-link-external" href="{{ getPath(post.docPath) }}" itemprop="url">{{ post.title }}</a>
      </h1>
      <div class="post-meta">
        {% if post.createdDate %}
        <span class="post-date meta-block">
          <i class="far fa-calendar-plus"></i><span><time title="post-date" itemprop="dateCreated datePublished" datetime="{{ post.createdDate.toISOString() }}">{{ post.createdMoment.format("YYYY-MM-DD ddd HH:mm:ss z") }}</time></span>
        </span>
        {% endif %}
        {% if post.categories and post.categories.length %}
        <span class="post-categories meta-block">
          {# About `-`: https://mozilla.github.io/nunjucks/cn/templating.html#part-861ece9d8e5ce60c #}
          {% for cat in post.categories -%}
          {% if loop.first %}<i class="far fa-folder-open"></i>{% else %}<i class="fas fa-angle-right"></i>{% endif %}<span itemprop="about" itemscope itemtype="http://schema.org/Thing"><a href="{{ getPath(cat.docPath) }}" itemprop="url" rel="index"><span itemprop="name">{{ cat.name }}</span></a></span>
          {%- endfor %}
        </span>
        {% endif %}
        {% if post.comment !== false and themeConfig.comment.enable %}
        {% if themeConfig.comment.disqusShortName %}
        <span class="post-comment-count meta-block">
          <i class="far fa-comments"></i><span><a href="{{ getPath(post.docPath) }}#disqus_thread" itemprop="discussionUrl"><span class="post-comment-count disqus-comment-count" data-disqus-identifier="{{ getPath(post.docPath) }}" itemprop="commentCount"></span></a></span>
        </span>
        {% endif %}
        {% endif %}
      </div>
    </header>
    <main class="post-main" itemprop="articleBody">
      {% if post.excerpt  %}
      {{ post.excerpt }}
      {% elif post.description %}
      {{ post.description }}
      {% elif themeConfig.autoExcerpt %}
      <p>{{ (post.content | striptags).substring(0, themeConfig.autoExcerpt) }}…</p>
      {% else %}
      {{ post.content }}
      {% endif %}
    </main>
    <footer class="post-footer">
      {% if post.tags and post.tags.length %}
      <div class="post-tags">
        {% for tag in post.tags -%}
        <a class="post-tag button" href="{{ getPath(tag.docPath) }}" rel="tag"><i class="fas fa-tag"></i>{{ tag.name }}</a>
        {%- endfor %}
      </div>
      {% endif %}
    </footer>
  </article>
  {% endfor %}
  {% if pageArray %}
  <nav class="pagination">
    {% if pageIndex !== 0 %}
    <a class="extend prev" href="{{ getPath(pageArray[pageIndex - 1].docPath) }}" aria-label="{{ __("accessibility.prevPage") }}"><i class="fas fa-angle-left"></i></a>
    {% endif %}
    {% if pageIndex > 2 %}
    <a class="page-number" href="{{ getPath(pageArray[0].docPath) }}">1</a>
    <span class="space">…</span>
    <a class="page-number" href="{{ getPath(pageArray[pageIndex - 1].docPath) }}">{{ pageIndex }}</a>
    {% else %}
    {% for page in pageArray.slice(0, pageIndex) %}
    <a class="page-number" href="{{ getPath(page.docPath) }}">{{ page.pageIndex + 1 }}</a>
    {% endfor %}
    {% endif %}
    <a class="page-number current" href="{{ getPath(docPath) }}">{{ pageIndex + 1 }}</a>
    {% if pageIndex < pageArray.length - 1 - 2 %}
    <a class="page-number" href="{{ getPath(pageArray[pageIndex + 1].docPath) }}">{{ pageIndex + 2 }}</a>
    <span class="space">…</span>
    <a class="page-number" href="{{ getPath(pageArray[pageArray.length - 1].docPath) }}">{{ pageArray.length }}</a>
    {% else %}
    {% for page in pageArray.slice(pageIndex + 1, pageArray.length) %}
    <a class="page-number" href="{{ getPath(page.docPath) }}">{{ page.pageIndex + 1 }}</a>
    {% endfor %}
    {% endif %}
    {% if pageIndex !== pageArray.length - 1 %}
    <a class="extend next" href="{{ getPath(pageArray[pageIndex + 1].docPath) }}" aria-label="{{ __("accessibility.nextPage") }}"><i class="fas fa-angle-right"></i></a>
    {% endif %}
  </nav>
  {% endif %}
  {% if themeConfig.reward.enable %}
  {% include "includes/reward.njk" %}
  {% endif %}
  {% if themeConfig.comment.enable %}
  {% if themeConfig.comment.disqusShortName %}
  {# Load disqus comment count for every posts in index. #}
  <script defer id="dsq-count-scr" src="//{{ themeConfig.comment.disqusShortName }}.disqus.com/count.js"></script>
  {% endif %}
  {% include "includes/comment.njk" %}
  {% endif %}
</div>
{% endblock %}
