<!DOCTYPE html>
<html data-theme="light" lang="{{ lang or language or siteConfig.language }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10">
    {% if themeConfig.color %}
    <meta name="theme-color" content="{{ themeConfig.color }}">
    <meta name="msapplication-TileColor" content="{{ themeConfig.color }}">
    {% endif %}
    {% if themeConfig.googleVerification %}
    <meta name="google-site-verification" content="{{ themeConfig.googleVerification }}">
    {% endif %}
    {% if keywords %}
    <meta name="keywords" content="{{ keywords.join(", ") }}">
    {% elif themeConfig.keywords %}
    <meta name="keywords" content="{{ themeConfig.keywords.join(", ") }}">
    {% endif %}
    {% if siteConfig.description %}
    <meta name="description" content="{{ siteConfig.description }}">
    {% endif %}
    <link rel="canonical" href="{{ getURL(docPath) }}">
    {% if themeConfig.favicon.appleTouchIcon %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ getPath(themeConfig.favicon.appleTouchIcon) }}">
    {% endif %}
    {% if themeConfig.favicon.androidChromeLarge %}
    <link rel="icon" type="image/png" sizes="192x192" href="{{ getPath(themeConfig.favicon.androidChromeLarge) }}">
    {% endif %}
    {% if themeConfig.favicon.medium %}
    <link rel="icon" type="image/png" sizes="32x32" href="{{ getPath(themeConfig.favicon.medium) }}">
    {% endif %}
    {% if themeConfig.favicon.small %}
    <link rel="icon" type="image/png" sizes="16x16" href="{{ getPath(themeConfig.favicon.small) }}">
    {% endif %}
    {% if themeConfig.favicon.safariPinnedTab %}
    <link rel="mask-icon" href="{{ getPath(themeConfig.favicon.safariPinnedTab) }}" color="{{ themeConfig.color }}">
    {% endif %}
    {% if themeConfig.favicon.androidManifest %}
    <link rel="manifest" href="{{ getPath(themeConfig.favicon.androidManifest) }}">
    {% endif %}
    {% if themeConfig.favicon.msBrowserConfig %}
    <meta name="msapplication-config" content="{{ getPath(themeConfig.favicon.msBrowserConfig) }}">
    {% endif %}
    {% if themeConfig.favicon.fallback %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ getPath(themeConfig.favicon.fallback) }}">
    {% endif %}
    {% if siteConfig.feed.enable %}
    <link rel="alternate" href="{{ getPath(siteConfig.feed.path) }}" title="{{ siteConfig.title }}" type="application/atom+xml" />
    {% endif %}
    {% if themeConfig.customFont.enable and themeConfig.customFont.link %}
    <link rel="stylesheet" type="text/css" href="{{ themeConfig.customFont.link }}">
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{% if themeConfig.libCDN.enable and themeConfig.libCDN.normalize %}{{ themeConfig.libCDN.normalize }}{% else %}{{ getPath("css/normalize.css") }}{% endif %}">
    <link rel="stylesheet" type="text/css" href="{{ getPath("css/index.css") }}">
    {% if themeConfig.sidebar !== false %}
    <link rel="stylesheet" type="text/css" href="{{ getPath("css/sidebar.css") }}">
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ getPath("css/custom.css") }}">
    <link rel="stylesheet" type="text/css" href="{% if themeConfig.libCDN.enable and themeConfig.libCDN[themeConfig.highlight] %}{{ themeConfig.libCDN[themeConfig.highlight] }}{% else %}{{ getPath("css/" + themeConfig.highlight + ".css") }}{% endif %}">
    <link rel="stylesheet" type="text/css" href="{% if themeConfig.libCDN.enable and themeConfig.libCDN.lightGallery.css %}{{ themeConfig.libCDN.lightGallery.css }}{% else %}{{ getPath("css/lightgallery.min.css") }}{% endif %}">
    {% block css %}{% endblock %}
    {# You should not set `defer` to `index.js` because other scripts depends it for `documentReady()`! #}
    <script type="text/javascript" src="{{ getPath("js/index.js") }}"></script>
    <script defer type="text/javascript" src="{{ getPath("js/scrollspy.js") }}"></script>
    <script defer type="text/javascript" src="{{ getPath("js/custom.js") }}"></script>
    <script defer type="text/javascript" src="{% if themeConfig.libCDN.enable and themeConfig.libCDN.lightGallery.js %}{{ themeConfig.libCDN.lightGallery.js }}{% else %}{{ getPath("js/lightgallery.min.js") }}{% endif %}"></script>
    <script defer type="text/javascript" src="{% if themeConfig.libCDN.enable and themeConfig.libCDN.lgFullscreen %}{{ themeConfig.libCDN.lgFullscreen }}{% else %}{{ getPath("js/lg-fullscreen.min.js") }}{% endif %}"></script>
    <script defer type="text/javascript" src="{% if themeConfig.libCDN.enable and themeConfig.libCDN.lgHash %}{{ themeConfig.libCDN.lgHash }}{% else %}{{ getPath("js/lg-hash.min.js") }}{% endif %}"></script>
    <script defer type="text/javascript" src="{% if themeConfig.libCDN.enable and themeConfig.libCDN.lgPager %}{{ themeConfig.libCDN.lgPager }}{% else %}{{ getPath("js/lg-pager.min.js") }}{% endif %}"></script>
    <script defer type="text/javascript" src="{% if themeConfig.libCDN.enable and themeConfig.libCDN.lgThumbnail %}{{ themeConfig.libCDN.lgThumbnail }}{% else %}{{ getPath("js/lg-thumbnail.min.js") }}{% endif %}"></script>
    <script defer type="text/javascript" src="{% if themeConfig.libCDN.enable and themeConfig.libCDN.lgZoom %}{{ themeConfig.libCDN.lgZoom }}{% else %}{{ getPath("js/lg-zoom.min.js") }}{% endif %}"></script>
    <script defer type="text/javascript" src="{% if themeConfig.libCDN.enable and themeConfig.libCDN.lgVideo %}{{ themeConfig.libCDN.lgVideo }}{% else %}{{ getPath("js/lg-video.min.js") }}{% endif %}"></script>
    <script defer type="text/javascript" src="{% if themeConfig.libCDN.enable and themeConfig.libCDN.clipboard %}{{ themeConfig.libCDN.clipboard }}{% else %}{{ getPath("js/clipboard.min.js") }}{% endif %}"></script>
    <script defer type="text/javascript" src="{% if themeConfig.libCDN.enable and themeConfig.libCDN.fontAwesome.solid %}{{ themeConfig.libCDN.fontAwesome.solid }}{% else %}{{ getPath("js/fa-solid.min.js") }}{% endif %}"></script>
    <script defer type="text/javascript" src="{% if themeConfig.libCDN.enable and themeConfig.libCDN.fontAwesome.brands %}{{ themeConfig.libCDN.fontAwesome.brands }}{% else %}{{ getPath("js/fa-brands.min.js") }}{% endif %}"></script>
    <script defer type="text/javascript" src="{% if themeConfig.libCDN.enable and themeConfig.libCDN.fontAwesome.regular %}{{ themeConfig.libCDN.fontAwesome.regular }}{% else %}{{ getPath("js/fa-regular.min.js") }}{% endif %}"></script>
    <script defer type="text/javascript" src="{% if themeConfig.libCDN.enable and themeConfig.libCDN.fontAwesome.loader %}{{ themeConfig.libCDN.fontAwesome.loader }}{% else %}{{ getPath("js/fontawesome.min.js") }}{% endif %}"></script>
    {% if themeConfig.busuanzi %}
    <script defer type="text/javascript" src="{% if themeConfig.libCDN.enable and themeConfig.libCDN.busuanzi %}{{ themeConfig.libCDN.busuanzi }}{% else %}{{ getPath("js/busuanzi.pure.mini.js") }}{% endif %}"></script>
    {% endif %}
    {% if themeConfig.mathjax.cdn and themeConfig.mathjax.enable %}
    {% if themeConfig.mathjax.global or mathjax %}
    <script defer type="text/javascript" src="{{ themeConfig.mathjax.cdn }}"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        "tex2jax": {
          "inlineMath": [["$", "$"], ["\\(", "\\)"]],
          "processEscapes": true,
          "skipTags": ["script", "noscript", "style", "textarea", "pre", "code"]
        }
      });
    </script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax();
        for (var i = 0; i < all.length; ++i) {
          all[i].SourceElement().parentNode.className += " has-jax";
        }
      });
    </script>
    {% endif %}
    {% endif %}
    <script type="text/javascript">
      // Set theme before page rendering.
      // Check user's choice from localStorage.
      var theme = localStorage.getItem("theme");
      var preferenceQuery = window.matchMedia("(prefers-color-scheme: dark)");
      // theme might be null here.
      if (theme !== "dark" && theme !== "light") {
        // Init from user's system settings if no choice.
        theme = preferenceQuery.matches ? "dark" : "light";
      }
      // Yes, it looks I can modify documentElement before ready!
      document.documentElement.setAttribute("data-theme", theme);
      localStorage.setItem("theme", theme);
      documentReady(function () {
        var themeToggle = document.getElementById("theme-toggle");
        var setThemeToggle = function (themeToggle, theme) {
          themeToggle.innerHTML = theme === "dark"
            ? "<i class=\"far fa-moon\" aria-label=\"{{ __("accessibility.themeDark") }}\"></i>"
            : "<i class=\"far fa-sun\" aria-label=\"{{ __("accessibility.themeLight") }}\"></i>";
        };
        // Update theme toggle content.
        setThemeToggle(themeToggle, theme);
        // User changed system settings, update.
        preferenceQuery.addListener(function (event) {
          theme = event.matches ? "dark" : "light";
          setThemeToggle(themeToggle, theme);
          document.documentElement.setAttribute("data-theme", theme);
          localStorage.setItem("theme", theme);
        });
        // Other page of site changed storage, update.
        window.addEventListener("storage", function (event) {
          if (event.key === "theme" && event.newValue !== event.oldValue) {
            theme = event.newValue;
            setThemeToggle(themeToggle, theme);
            document.documentElement.setAttribute("data-theme", theme);
          }
        });
        // User changed website settings, update.
        themeToggle.addEventListener("click", function (event) {
          theme = theme === "dark" ? "light" : "dark";
          setThemeToggle(themeToggle, theme);
          document.documentElement.setAttribute("data-theme", theme);
          localStorage.setItem("theme", theme);
        });
        elementsEach(
          document.querySelectorAll(".post figure.code-block"),
          function (e, i) {
            var lang = e.getAttribute("data-lang");
            e.insertAdjacentElement("beforebegin", createElementFromString([
              "<div class=\"code-titlebar\">",
                "<div class=\"titlebar-left\">",
                  "<button class=\"copy\" aria-label=\"{{ __("clipboard.copy") }}\"><i class=\"far fa-copy\"></i></button>",
                "</div>",
                "<div class=\"titlebar-center\">",
                  lang != null && lang.length ? lang.toUpperCase() : "{{ __("code") }}",
                "</div>",
                "<div class=\"titlebar-right\">",
                  "<button class=\"button-dot dot-minimize\" aria-label=\"Decoration\"></button>",
                  "<button class=\"button-dot dot-maximize\" aria-label=\"Decoration\"></button>",
                  "<button class=\"button-dot dot-close\" aria-label=\"Decoration\"></button>",
                "</div>",
              "</div>"
            ].join("")));
          }
        );
        var cb = new ClipboardJS("button.copy", {
          "target": function (trigger) {
              // Get target element by DOM API.
              // trigger.parentNode.parentNode is code-titlebar.
              // nextElementSibling is figure.highlight, lastChild is pre.code.
              return trigger.parentNode.parentNode.nextElementSibling.lastChild;
          }
        });
        cb.on("success", function (e) {
          e.clearSelection();
          var trigger = e.trigger;
          // Change button text as a user tip.
          trigger.innerHTML = "<i class=\"far fa-check-square\"></i>";
          trigger.classList.add("copied");
          // Change button text back;
          setTimeout(function () {
            trigger.innerHTML = "<i class=\"far fa-copy\"></i>";
            trigger.classList.remove("copied");
          }, 1500);
        });
      });
    </script>
    {% block js %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body itemscope itemtype="http://schema.org/WebPage">
    {% include "includes/header.njk" %}
    <main id="main" class="main">
      <div class="container">
        <div class="main-container">
          <div class="content">
            {% block content %}{% endblock %}
          </div>
          {# Sidebar can be `left`, `right` or `false`. #}
          {% if themeConfig.sidebar !== false %}
          {% include "includes/sidebar.njk" %}
          {% endif %}
        </div>
      </div>
    </main>
    {% include "includes/footer.njk" %}
  </body>
</html>
<!-- Page built by Hikaru v{{ getVersion() }} at {{ moment.tz(momenttz.guess()).format("YYYY-MM-DD ddd HH:mm:ss z") }}. -->
