{% extends "includes/layout.njk" %}

{% block title %}{{ __(title) }} - {{ siteConfig.title }}{% endblock %}

{% block content %}
<div id="page" class="page">
  <article class="article post card{% if themeConfig.animate %} animate{% endif %}" itemscope itemtype="http://schema.org/Article">
    <div class="post-block">
      <link itemprop="mainEntityOfPage" href="{{ getURL(docPath) }}">
      <span hidden itemprop="author" itemscope itemtype="http://schema.org/Person">
        {%- if author %}
        <meta itemprop="name" content="{{ author }}">
        {%- else %}
        <meta itemprop="name" content="{{ siteConfig.author }}">
        <meta itemprop="description" content="{{ siteConfig.description }}">
        <meta itemprop="image" content="{{ getPath(themeConfig.avatar) }}">
        {%- endif %}
      </span>
      <span hidden itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
        <meta itemprop="name" content="{{ siteConfig.title }}">
      </span>
    </div>
    <header class="post-header">
      <div class="post-title" itemprop="name headline">
        <a class="title-link" href="{{ getPath(docPath) }}" itemprop="url">{{ __(title) }}</a>
      </div>
      <div class="post-meta">
        {%- if created %}
        <div class="post-date meta-block">
          <i class="bi bi-calendar-check"></i><span><time class="post-full-date" title="post-date" itemprop="dateCreated datePublished" datetime="{{ created.toISOString() }}">{{ created.toLocaleString() }}</time></span>
        </div>
        {%- endif %}
        {%- if updated %}
        <div class="post-date meta-block">
          <i class="bi bi-calendar-plus"></i><span><time class="post-full-date" title="post-date" itemprop="dateUpdated" datetime="{{ updated.toISOString() }}">{{ updated.toLocaleString() }}</time></span>
        </div>
        {%- endif %}
        {%- if author or email %}
        <div class="post-author meta-block">
          {%- if author and email %}
          <i class="bi bi-pencil-square"></i><a href="mailto:{{ email }}">{{ author }}</a>
          {%- elseif email %}
          <i class="bi bi-pencil-square"></i><a href="mailto:{{ email }}">{{ email }}</a>
          {%- elseif author %}
          <i class="bi bi-pencil-square"></i><span>{{ author }}</span>
          {%- endif %}
        </div>
        {%- endif %}
        {%- if themeConfig.comment.enable and comment !== false %}
        {%- if themeConfig.comment.issue.enable %}
        <div class="post-comment-count meta-block">
          <i class="bi bi-chat-dots"></i><span><a href="{{ getPath(docPath) }}#comment-results" itemprop="discussionUrl"><span class="post-comment-count comment-count" data-comment-identifier="{{ __(title) }}" itemprop="commentCount">{{ __("comment.read") }}</span></a></span>
        </div>
        {%- elseif themeConfig.comment.disqusShortName %}
        <div class="post-comment-count meta-block">
          <i class="bi bi-chat-dots"></i><span><a href="{{ getPath(docPath) }}#disqus_thread" itemprop="discussionUrl"><span class="post-comment-count disqus-comment-count" data-disqus-identifier="{{ getPath(docPath) }}" itemprop="commentCount"></span></a></span>
        </div>
        {%- endif %}
        {%- endif %}
      </div>
    </header>
    <main class="post-main" id="scrollspy-container">
      {{ content }}
    </main>
    <footer class="post-footer"></footer>
  </article>
  {% include "includes/reward.njk" %}
  {% include "includes/comment.njk" %}
</div>
{% endblock %}
