{% extends "includes/layout.njk" %}

{% block css %}
{% include "includes/highlight-css.njk" %}
{% endblock %}

{% block js %}
{% include "includes/scrollspy-js.njk" %}
{% include "includes/clipboard-js.njk" %}
{% include "includes/highlight-js.njk" %}
{% include "includes/mathjax-js.njk" %}
{% endblock %}

{% block title %}{{ title }} - {{ siteConfig.title }}{% endblock %}

{% block content %}
<div id="page" class="page">
  <article class="article post card{% if themeConfig.animate %} animate{% endif %}" itemscope itemtype="http://schema.org/Article">
    <div class="post-block">
      <link itemprop="mainEntityOfPage" href="{{ getURL(docPath) }}">
      <span hidden itemprop="author" itemscope itemtype="http://schema.org/Person">
        {%- if author %}
        <meta itemprop="name" content="{{ author }}">
        {%- else %}
        <meta itemprop="name" content="{{ siteConfig.author }}">
        <meta itemprop="description" content="{{ siteConfig.description }}">
        <meta itemprop="image" content="{{ getPath(themeConfig.avatar) }}">
        {%- endif %}
      </span>
      <span hidden itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
        <meta itemprop="name" content="{{ siteConfig.title }}">
      </span>
    </div>
    <header class="post-header">
      <div class="post-title" itemprop="name headline">
        <a class="title-link" href="{{ getPath(docPath) }}" itemprop="url">{{ title }}</a>
      </div>
      <div class="post-meta">
        {%- if created %}
        <div class="post-created meta-block">
          <i class="bi bi-calendar-check"></i><span><time class="post-full-datetime" title="post-created" itemprop="dateCreated datePublished" datetime="{{ created.toISOString() }}">{{ created.toLocaleString() }}</time></span>
        </div>
        {%- endif %}
        {%- if updated %}
        <div class="post-updated meta-block">
          <i class="bi bi-calendar-plus"></i><span><time class="post-full-datetime" title="post-updated" itemprop="dateUpdated" datetime="{{ updated.toISOString() }}">{{ updated.toLocaleString() }}</time></span>
        </div>
        {%- endif %}
        {%- if author or email %}
        <div class="post-author meta-block">
          {%- if author and email %}
          <i class="bi bi-pencil-square"></i><a href="mailto:{{ email }}">{{ author }}</a>
          {%- elseif email %}
          <i class="bi bi-pencil-square"></i><a href="mailto:{{ email }}">{{ email }}</a>
          {%- elseif author %}
          <i class="bi bi-pencil-square"></i><span>{{ author }}</span>
          {%- endif %}
        </div>
        {%- endif %}
        {%- if categories and categories.length %}
        <div class="post-categories meta-block">
          {% for cat in categories %}{% if loop.first %}<i class="bi bi-folder2-open"></i>{% else %}<i class="bi bi-chevron-right"></i>{% endif %}<span itemprop="about" itemscope itemtype="http://schema.org/Thing"><a href="{{ getPath(cat.docPath) }}" itemprop="url" rel="index"><span itemprop="name">{{ cat.name }}</span></a></span>{% endfor %}
        </div>
        {%- endif %}
        {%- if themeConfig.comment.enable and comment !== false %}
        {%- if themeConfig.comment.issue.enable %}
        <div class="post-comment-count meta-block">
          <i class="bi bi-chat-dots"></i><span><a href="{{ getPath(docPath) }}#comment-results" itemprop="discussionUrl"><span class="post-comment-count comment-count" data-comment-identifier="{{ title }}" itemprop="commentCount">{{ __("comment.read") }}</span></a></span>
        </div>
        {%- elseif themeConfig.comment.disqusShortName %}
        <div class="post-comment-count meta-block">
          <i class="bi bi-chat-dots"></i><span><a href="{{ getPath(docPath) }}#disqus_thread" itemprop="discussionUrl"><span class="post-comment-count disqus-comment-count" data-disqus-identifier="{{ getPath(docPath) }}" itemprop="commentCount"></span></a></span>
        </div>
        {%- endif %}
        {%- endif %}
      </div>
    </header>
    <main class="post-main" id="scrollspy-container" itemprop="articleBody">
      {{ content }}
    </main>
    <footer class="post-footer">
      {%- if tags and tags.length %}
      <div class="post-tags">
        {% for tag in tags %}<a class="post-tag button" href="{{ getPath(tag.docPath) }}" rel="tag"><i class="bi bi-tag"></i>{{ tag.name }}</a>{% endfor %}
      </div>
      {%- endif %}
    </footer>
  </article>
  {%- if prev or next %}
  <nav class="page-nav">
    <div class="page-nav-next page-nav-item">
      {%- if next %}
      <a href="{{ getPath(next.docPath) }}" rel="next" title="{{ next.title }}"><i class="bi bi-chevron-left"></i><span class="nav-title">{{ next.title }}</span></a>
      {%- endif %}
    </div>
    <div class="page-nav-prev page-nav-item">
      {%- if prev %}
      <a href="{{ getPath(prev.docPath) }}" rel="prev" title="{{ prev.title }}"><span class="nav-title">{{ prev.title }}</span><i class="bi bi-chevron-right"></i></a>
      {%- endif %}
    </div>
  </nav>
  {%- endif %}
  {% include "includes/reward.njk" %}
  {% include "includes/comment.njk" %}
</div>
{% endblock %}
