{% extends "layout.njk" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ getPath("css/page.css") }}">
<link rel="stylesheet" type="text/css" href="{{ getPath("css/post.css") }}">
{% endblock %}

{% block js %}
{% if themeConfig.search %}
<script defer type="text/javascript" src="{% if themeConfig.libCDN.enable and themeConfig.libCDN.search %}{{ themeConfig.libCDN.search }}{% else %}{{ getPath("js/search.js") }}{% endif %}"></script>
<script type="text/javascript">
  $(document).ready(function () {
    {% if isArray(siteConfig.search.path) %}
    var searchPaths = [{% for p in siteConfig.search.path %}"{{ getPath(p) }}"{% if not loop.last %}, {% endif %}{% endfor %}];
    {% else %}
    var searchPaths = ["{{ getPath(siteConfig.search.path) }}"];
    {% endif %}
    loadSearch({
      "paths": searchPaths,
      "queryString": window.location.search,
      "containerID": "search-result",
      "noResultText": "{{ __("searchResult.none") }}",
      "failText": "{{ __("searchResult.fail") }}"
    });
  });
</script>
{% endif %}
{% endblock %}

{% block title %}{{ __(title) }} | {{ siteConfig.title }}{% if siteConfig.subtitle %} - {{ siteConfig.subtitle }}{% endif %}{% endblock %}

{% block content %}
<div id="page" class="page">
  <article class="article post card{% if themeConfig.animate %} animate{% endif %}">
    <div class="post-block">
      <link itemprop="mainEntityOfPage" href="{{ getURL(docPath) }}">
      <span hidden itemprop="author" itemscope itemtype="http://schema.org/Person">
        <meta itemprop="name" content="{{ siteConfig.author }}">
        <meta itemprop="description" content="{{ siteConfig.description }}">
        <meta itemprop="image" content="{{ getPath(themeConfig.avatar) }}">
      </span>
      <span hidden itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
        <meta itemprop="name" content="{{ siteConfig.title }}">
      </span>
    </div>
    <header class="post-header">
      <h1 class="post-title" itemprop="name headline">{{ __(title) }}</h1>
      <div class="post-meta">
        {# There should be no time for search result page. #}
      </div>
    </header>
    <main class="post-main">
      <div class="search-result" id="search-result">
        <div class="sk-wave" id="sk-wave">
          <div class="sk-rect sk-rect1"></div>
          <div class="sk-rect sk-rect2"></div>
          <div class="sk-rect sk-rect3"></div>
          <div class="sk-rect sk-rect4"></div>
          <div class="sk-rect sk-rect5"></div>
        </div>
      </div>
    </main>
    <footer class="post-footer"></footer>
  </article>
  {# There should be no comment and reward for search result page. #}
</div>
{% endblock %}
