{% extends "layout.njk" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ getPath("css/page.css") }}">
<link rel="stylesheet" type="text/css" href="{{ getPath("css/post.css") }}">
{% endblock %}

{% block title %}{{ __(title) }}: {{ name }} | {{ siteConfig.title }}{% if siteConfig.subtitle %} - {{ siteConfig.subtitle }}{% endif %}{% endblock %}

{% block content %}
<div id="tag" class="tag page">
  <h1 class="page-title">{{ name }}</h1>
  {% for post in posts %}
  <article class="article post card{% if themeConfig.animate %} animate{% endif %}" itemscope itemtype="http://schema.org/Article">
    <header id="post-header" class="post-header">
      <h1 class="post-title-simple" itemprop="name headline">
        <a class="post-title-link post-title-link-external" href="{{ getPath(post.docPath) }}" itemprop="url">{{ post.title }}</a>
      </h1>
      {% if post.createdDate %}
      <span class="post-date">
        <time title="post-date" itemprop="dateCreated datePublished" datetime="{{ post.createdDate.toISOString() }}">{{ post.createdMoment.format("MM-DD") }}</time>
      </span>
      {% endif %}
    </header>
  </article>
  {% endfor %}
  {% include "includes/pagination.njk" %}
  {% if themeConfig.reward.enable %}
  {% include "includes/reward.njk" %}
  {% endif %}
  {% if themeConfig.comment.enable %}
  {% include "includes/comment.njk" %}
  {% endif %}
</div>
{% endblock %}
