{% extends "layout.njk" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ getPath("css/page.css") }}">
<link rel="stylesheet" type="text/css" href="{{ getPath("css/post.css") }}">
{% endblock %}

{% block title %}{{ __(title) }} {{ name }} - {{ siteConfig.title }}{% endblock %}

{% block content %}
<div id="tag" class="tag page">
  <div class="page-title">{{ name }}</div>
  {% for post in posts %}
  <article class="article post card{% if themeConfig.animate %} animate{% endif %}" itemscope itemtype="http://schema.org/Article">
    <header id="post-header" class="post-header">
      <div class="post-title-simple" itemprop="name headline">
        <a class="post-title-link post-title-link-external" href="{{ getPath(post.docPath) }}" itemprop="url">{{ post.title }}</a>
      </div>
      {% if post.created %}
      <span class="post-date">
        <time title="post-date" itemprop="dateCreated datePublished" datetime="{{ post.created.toISOString() }}">{{ post.created.getMonth() + 1 }}-{{ post.created.getDate() }}</time>
      </span>
      {% endif %}
    </header>
  </article>
  {% endfor %}
  {% include "includes/pagination.njk" %}
  {% if themeConfig.reward.enable %}
  {% include "includes/reward.njk" %}
  {% endif %}
  {% if themeConfig.comment.enable %}
  {% include "includes/comment.njk" %}
  {% endif %}
</div>
{% endblock %}
