{% block comment %}
{% if comment !== false %}
<div class="comments" id="comments">
  {% if themeConfig.comment.disqusShortName %}
  <script defer id="dsq-count-scr" src="//{{ themeConfig.comment.disqusShortName }}.disqus.com/count.js"></script>
  <div id="disqus_thread" class="disqus_thread"></div>
  <script type="text/javascript">
  var disqus_config = function () {
    this.page.url = "{{ getAbsPath(page.docPath) }}";
    this.page.identifier = "{{ getAbsPath(page.docPath) }}";
  };
  (function() {
    var d = document, s = d.createElement("script");
    s.src = "https://{{ themeConfig.comment.disqusShortName }}.disqus.com/embed.js";
    s.setAttribute("data-timestamp", +new Date());
    (d.head || d.body).appendChild(s);
  })();
  </script>
  {% elif themeConfig.comment.commentjs.enable %}
  <div class="commentjs" id="comment-thread"></div>
  <link rel="stylesheet" href="{% if themeConfig.libCdn.enable and themeConfig.libCdn.commentjs.css %}{{ themeConfig.libCdn.commentjs.css }}{% else %}{{ getAbsPath("css/commentjs.css") }}{% endif %}">
  <script defer type="text/javascript" src="{% if themeConfig.libCdn.enable and themeConfig.libCdn.marked %}{{ themeConfig.libCdn.marked }}{% else %}{{ getAbsPath("js/marked.min.js") }}{% endif %}"></script>
  <script defer type="text/javascript" src="{% if themeConfig.libCdn.enable and themeConfig.libCdn.timeago %}{{ themeConfig.libCdn.timeago }}{% else %}{{ getAbsPath("js/timeago.min.js") }}{% endif %}"></script>
  <script defer type="text/javascript" src="{% if themeConfig.libCdn.enable and themeConfig.libCdn.highlight %}{{ themeConfig.libCdn.highlight }}{% else %}{{ getAbsPath("js/highlight.min.js") }}{% endif %}"></script>
  <script defer type="text/javascript" src="{% if themeConfig.libCdn.enable and themeConfig.libCdn.commentjs.js %}{{ themeConfig.libCdn.commentjs.js }}{% else %}{{ getAbsPath("js/commentjs.js") }}{% endif %}"></script>
  <script type="text/javascript">
  $(document).ready(function () {
    getComments({
      "type": "{{ themeConfig.comment.commentjs.type }}",
      "user": "{{ themeConfig.comment.commentjs.user }}",
      "repo": "{{ themeConfig.comment.commentjs.repo }}",
      "clientId": "{{ themeConfig.comment.commentjs.clientId }}",
      "clientSecret": "{{ themeConfig.comment.commentjs.clientSecret }}",
      "no_comment": "{{ __("commentjs.none") }}",
      "go_to_comment": "{{ __("commentjs.comment") }}",
      "issue_title": "{{ __(title) }}",
      "btn_class": "button",
      "comments_target": "#comment-thread"
    });
    marked.setOptions({
      "highlight": function (code, lang) {
        return hljs.highlightAuto(code).value;
      }
    });
    function mark() {
      var markdowns = document.getElementsByClassName("markdown");
      for (var i = 0; i < markdowns.length; ++i){
        if (markdowns[i].innerHTML) {
          markdowns[i].innerHTML = marked(markdowns[i].innerHTML);
        }
      }
    }
    window.addEventListener("DOMContentLoaded", mark, false);
    window.addEventListener("load", mark, false);
  });
  </script>
  {% endif %}
</div>
{% endif %}
{% endblock %}
