{% extends "layout.njk" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ pathPx.join(siteConfig.rootDir, "css/page.css") }}">
<link rel="stylesheet" type="text/css" href="{{ pathPx.join(siteConfig.rootDir, "css/post.css") }}">
{% endblock %}

{% block title %}{{ siteConfig.title }}{% if siteConfig.subtitle %} - {{ siteConfig.subtitle }}{% endif %}{% endblock %}

{% block content %}
<div id="index" class="index page">
  {% for post in posts %}
  <article class="article post card{% if themeConfig.animate %} animate{% endif %}" itemscope itemtype="http://schema.org/Article">
    <div class="post-block">
      <link itemprop="mainEntityOfPage" href="{{ siteConfig.url }}{{ pathPx.join(siteConfig.rootDir, post.docPath) }}">
      <span hidden itemprop="author" itemscope itemtype="http://schema.org/Person">
        <meta itemprop="name" content="{{ siteConfig.author }}">
        <meta itemprop="description" content="{{ siteConfig.description }}">
        <meta itemprop="image" content="{{ pathPx.join(siteConfig.rootDir, themeConfig.avatar) }}">
      </span>
      <span hidden itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
        <meta itemprop="name" content="{{ siteConfig.title }}">
      </span>
    </div>
    <header class="post-header">
      <h1 class="post-title" itemprop="name headline">
        <a class="post-title-link post-title-link-external" href="{{ pathPx.join(siteConfig.rootDir, post.docPath) }}" itemprop="url">{{ post.title }}</a>
      </h1>
      <div class="post-meta">
        {% if post.date %}
        <span class="post-date">
          <i class="far fa-calendar-plus"></i><span><time title="post-date" itemprop="dateCreated datePublished" datetime="{{ moment(post.date).format() }}">{{ moment(post.date).format("YYYY-MM-DD hh:mm:ss") }}</time></span>
        </span>
        {% endif %}
        {% if post.categories and post.categories.length %}
        {% if post.date %}
        <span class="post-meta-divider divider">|</span>
        {% endif %}
        <span class="post-categories">
          {# About `-`: https://mozilla.github.io/nunjucks/cn/templating.html#part-861ece9d8e5ce60c #}
          {% for cat in post.categories -%}
          {% if loop.first %}<i class="far fa-folder-open"></i>{% else %}<i class="fas fa-angle-right"></i>{% endif %}<span itemprop="about" itemscope itemtype="http://schema.org/Thing"><a href="{{ pathPx.join(siteConfig.rootDir, cat.docPath) }}" itemprop="url" rel="index"><span itemprop="name">{{ cat.name }}</span></a></span>
          {%- endfor %}
        </span>
        {% endif %}
        {% if post.comment !== false and themeConfig.comment.enable %}
        {% if themeConfig.comment.disqusShortName %}
        {% if post.categories or post.date %}
        <span class="post-meta-divider divider">|</span>
        {% endif %}
        <span class="post-comment-count">
          <i class="far fa-comments"></i><span><a href="{{ pathPx.join(siteConfig.rootDir, post.docPath) }}#disqus_thread" itemprop="discussionUrl"><span class="post-comment-count disqus-comment-count" data-disqus-identifier="{{ pathPx.join(siteConfig.rootDir, post.docPath) }}" itemprop="commentCount"></span></a></span>
        </span>
        {% endif %}
        {% endif %}
      </div>
    </header>
    <main class="post-main" itemprop="articleBody">
      {% if post.excerpt  %}
      {{ post.excerpt }}
      {% elif post.description %}
      {{ post.description }}
      {% elif themeConfig.autoExcerpt %}
      {{ post.content.substring(0, themeConfig.autoExcerpt) }}
      {% else %}
      {{ post.content }}
      {% endif %}
    </main>
    <footer class="post-footer">
      {% if post.tags and post.tags.length %}
      <div class="post-tags">
        {% for tag in post.tags %}
        <a class="post-tag button" href="{{ pathPx.join(siteConfig.rootDir, tag.docPath) }}" rel="tag"><i class="fas fa-tags"></i>{{ tag.name }}</a>
        {% endfor %}
      </div>
      {% endif %}
    </footer>
  </article>
  {% endfor %}
  {% if pageArray %}
  <nav class="pagination">
    {% if pageIndex !== 0 %}
    <a class="extend prev" href="{{ pathPx.join(siteConfig.rootDir, pageArray[pageIndex - 1].docPath) }}"><i class="fas fa-angle-left" aria-label="{{ __("accessibility.prev_page") }}"></i></a>
    {% endif %}
    {% if pageIndex > 2 %}
    <a class="page-number" href="{{ pathPx.join(siteConfig.rootDir, pageArray[0].docPath) }}">1</a>
    <span class="space">…</span>
    <a class="page-number" href="{{ pathPx.join(siteConfig.rootDir, pageArray[pageIndex - 1].docPath) }}">{{ pageIndex }}</a>
    {% else %}
    {% for page in pageArray.slice(0, pageIndex) %}
    <a class="page-number" href="{{ pathPx.join(siteConfig.rootDir, page.docPath) }}">{{ page.pageIndex + 1 }}</a>
    {% endfor %}
    {% endif %}
    <span class="page-number current">{{ pageIndex + 1 }}</span>
    {% if pageIndex < pageArray.length - 1 - 2 %}
    <a class="page-number" href="{{ pathPx.join(siteConfig.rootDir, pageArray[pageIndex + 1].docPath) }}">{{ pageIndex + 2 }}</a>
    <span class="space">…</span>
    <a class="page-number" href="{{ pathPx.join(siteConfig.rootDir, pageArray[pageArray.length - 1].docPath) }}">{{ pageArray.length }}</a>
    {% else %}
    {% for page in pageArray.slice(pageIndex + 1, pageArray.length) %}
    <a class="page-number" href="{{ pathPx.join(siteConfig.rootDir, page.docPath) }}">{{ page.pageIndex + 1 }}</a>
    {% endfor %}
    {% endif %}
    {% if pageIndex !== pageArray.length - 1 %}
    <a class="extend next" href="{{ pathPx.join(siteConfig.rootDir, pageArray[pageIndex + 1].docPath) }}"><i class="fas fa-angle-right" aria-label="{{ __("accessibility.next_page") }}"></i></a>
    {% endif %}
  </nav>
  {% endif %}
  {% if themeConfig.comment.enable %}
  {% include "comment.njk" %}
  {% endif %}
</div>
{% endblock %}
