{% extends "layout.njk" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ pathPos.join(siteConfig.rootDir, "css/page.css") }}">
<link rel="stylesheet" type="text/css" href="{{ pathPos.join(siteConfig.rootDir, "css/post.css") }}">
{% endblock %}

{% block title %}{{ title }} | {{ siteConfig.title }}{% if siteConfig.subtitle %} - {{ siteConfig.subtitle }}{% endif %}{% endblock %}

{% block content %}
<div id="post" class="page">
  <article class="article post card{% if themeConfig.animate %} animate{% endif %}" itemscope itemtype="http://schema.org/Article">
    <div class="post-block">
      <link itemprop="mainEntityOfPage" href="{{ siteConfig.url }}{{ pathPos.join(siteConfig.rootDir, docPath) }}">
      <span hidden itemprop="author" itemscope itemtype="http://schema.org/Person">
       <meta itemprop="name" content="{{ siteConfig.author }}">
       <meta itemprop="description" content="{{ siteConfig.description }}">
       <meta itemprop="image" content="{{ pathPos.join(siteConfig.rootDir, themeConfig.avatar) }}">
      </span>
      <span hidden itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
       <meta itemprop="name" content="{{ siteConfig.title }}">
      </span>
    </div>
    <header class="post-header">
      <h1 class="post-title" itemprop="name headline">{{ title }}</h1>
      <div class="post-meta">
        {% if date %}
        <span class="post-date">
          <i class="far fa-calendar-plus"></i><span><time title="post-date" itemprop="dateCreated datePublished" datetime="{{ moment(date).format() }}">{{ moment(date).format("YYYY-MM-DD hh:mm:ss") }}</time></span>
        </span>
        {% endif %}
        {% if categories and categories.length %}
        {% if date %}
        <span class="post-meta-divider divider">|</span>
        {% endif %}
        <span class="post-categories">
          {# About `-`: https://mozilla.github.io/nunjucks/cn/templating.html#part-861ece9d8e5ce60c #}
          {% for cat in categories -%}
          {% if loop.first %}<i class="far fa-folder-open"></i>{% else %}<i class="fas fa-angle-right"></i>{% endif %}<span itemprop="about" itemscope itemtype="http://schema.org/Thing"><a href="{{ pathPos.join(siteConfig.rootDir, cat.docPath) }}" itemprop="url" rel="index"><span itemprop="name">{{ cat.name }}</span></a></span>
          {%- endfor %}
        </span>
        {% endif %}
        {% if page.comment !== false and themeConfig.comment.enable %}
        {% if themeConfig.comment.disqus_shortname %}
        {% if page.categories or page.date %}
        <span class="post-meta-divider divider">|</span>
        {% endif %}
        <span class="post-comment-count">
          <i class="far fa-comments"></i><span><a href="{{ pathPos.join(siteConfig.rootDir, docPath) }}#disqus_thread" itemprop="discussionUrl"><span class="post-comment-count disqus-comment-count" data-disqus-identifier="{{ pathPos.join(siteConfig.rootDir, docPath) }}" itemprop="commentCount"></span></a></span>
        </span>
        {% endif %}
        {% endif %}
      </div>
    </header>
    <main class="post-main" itemprop="articleBody">
      {{ content }}
    </main>
    <footer class="post-footer">
      {% if tags and tags.length %}
      <div class="post-tags">
        {% for tag in tags %}
        <a class="post-tag button" href="{{ pathPos.join(siteConfig.rootDir, tag.docPath) }}" rel="tag"><i class="fas fa-tags"></i>{{ tag.name }}</a>
        {% endfor %}
      </div>
      {% endif %}
    </footer>
  </article>
  {% if themeConfig.reward.enable %}
  {% include "reward.njk" %}
  {% endif %}
  {% if page.prev or page.next %}
  <nav class="page-nav">
    <div class="page-nav-next page-nav-item">
      {% if next %}
      <a href="{{ pathPos.join(siteConfig.rootDir, next.docPath) }}" rel="next" title="{{ next.title }}"><i class="fas fa-angle-left"></i><span class="nav-title">{{ next.title }}</span></a>
      {% endif %}
    </div>
    <div class="page-nav-prev page-nav-item">
      {% if page.prev %}
      <a href="{{ pathPos.join(siteConfig.rootDir, prev.docPath) }}" rel="prev" title="{{ prev.title }}"><span class="nav-title">{{ prev.title }}</span><i class="fas fa-angle-right"></i></a>
      {% endif %}
    </div>
  </nav>
  {% endif %}
  {% if themeConfig.comment.enable %}
  {% include "comment.njk" %}
  {% endif %}
</div>
{% endblock %}
