{% extends "layout.njk" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/css/page.css">
<link rel="stylesheet" type="text/css" href="/css/post.css">
{% endblock %}

{% block title %}{{ __(title) }}: {{ name }} | {{ siteConfig.title }}{% if siteConfig.subtitle %} - {{ siteConfig.subtitle }}{% endif %}{% endblock %}

{% block content %}
<div id="tag" class="tag page">
  <h1 class="page-title">{{ name }}</h1>
  {% for post in posts %}
  <article class="article post card{% if themeConfig.animate %} animate{% endif %}" itemscope itemtype="http://schema.org/Article">
    <header id="post-header" class="post-header">
      <h1 class="post-title-simple" itemprop="name headline">
        <a class="post-title-link post-title-link-external" href="{{ post.docPath }}" itemprop="url">{{ post.title }}</a>
      </h1>
      {% if post.date %}
      <span class="post-date">
        <time title="post-date" itemprop="dateCreated datePublished" datetime="{{ post.date }}">{{ post.date.getMonth() + "-" + post.date.getDate() }}</time>
      </span>
      {% endif %}
    </header>
  </article>
  {% endfor %}
  {# {% if page.prev or page.next %}
  <nav class="pagination">
    {{
      paginator({
        prev_text: "<i class=\"fas fa-angle-left\" aria-label=\"" + __("accessibility.prev_page") + "\"></i>",
        next_text: "<i class=\"fas fa-angle-right\" aria-label=\"" + __("accessibility.next_page") + "\"></i>",
        mid_size: 1
      })
    }}
  </nav>
  {% endif %} #}
</div>
{% endblock %}
